{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTracking",
  "basePath": "/",
  "tags": [
    {
      "name": "behaviors"
    },
    {
      "name": "fields"
    },
    {
      "name": "processes"
    },
    {
      "name": "rules"
    },
    {
      "name": "states"
    },
    {
      "name": "workItemTypes"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": {
    "Control": {
      "description": "Represent a control in the form.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the control.",
          "$ref": "#/definitions/WitContribution"
        },
        "controlType": {
          "description": "Type of the control.",
          "type": "string"
        },
        "height": {
          "description": "Height of the control, for html controls.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the field",
          "type": "string"
        },
        "metadata": {
          "description": "Inner text of the control.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "A value indicating if the control is readonly.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the control should be hidden or not.",
          "type": "boolean"
        },
        "watermark": {
          "description": "Watermark text for the textbox.",
          "type": "string"
        }
      }
    },
    "CreateProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parentProcessTypeId": {
          "type": "string",
          "format": "uuid"
        },
        "referenceName": {
          "type": "string"
        }
      }
    },
    "Extension": {
      "description": "Represents the extensions part of the layout",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isIdentity": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.FieldType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldRuleModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleActionModel"
          }
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleConditionModel"
          }
        },
        "friendlyName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "isSystem": {
          "type": "boolean"
        }
      }
    },
    "FormLayout": {
      "description": "",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Gets and sets extensions list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "pages": {
          "description": "Top level tabs of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Page"
          }
        },
        "systemControls": {
          "description": "Headers controls of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        }
      }
    },
    "Group": {
      "description": "Represent a group in the form that holds controls in it.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the group.",
          "$ref": "#/definitions/WitContribution"
        },
        "controls": {
          "description": "Controls to be put in the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the group.",
          "type": "string"
        },
        "order": {
          "description": "Order in which the group should appear in the section.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the group should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "Page": {
      "description": "",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the page.",
          "$ref": "#/definitions/WitContribution"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "The label for the page.",
          "type": "string"
        },
        "locked": {
          "description": "A value indicating whether any user operations are permitted on this page and the contents of this page",
          "type": "boolean"
        },
        "order": {
          "description": "Order in which the page should appear in the layout.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "pageType": {
          "description": "The icon for the page.",
          "enum": [
            "custom",
            "history",
            "links",
            "attachments"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.PageType"
          }
        },
        "sections": {
          "description": "The sections of the page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Section"
          }
        },
        "visible": {
          "description": "A value indicating if the page should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "ProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "projects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectReference"
          }
        },
        "properties": {
          "$ref": "#/definitions/ProcessProperties"
        },
        "referenceName": {
          "type": "string"
        },
        "typeId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ProcessProperties": {
      "description": "",
      "type": "object",
      "properties": {
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.ProcessClass"
          }
        },
        "isDefault": {
          "type": "boolean"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "parentProcessTypeId": {
          "type": "string",
          "format": "uuid"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ProjectReference": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "RuleActionModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actionType": {
          "type": "string"
        },
        "targetField": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "RuleConditionModel": {
      "description": "",
      "type": "object",
      "properties": {
        "conditionType": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Section": {
      "description": "",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          }
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        }
      }
    },
    "UpdateProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WitContribution": {
      "description": "",
      "type": "object",
      "properties": {
        "contributionId": {
          "description": "The id for the contribution.",
          "type": "string"
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "inputs": {
          "description": "A dictionary holding key value pairs for contribution inputs.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "showOnDeletedWorkItem": {
          "description": "A value indicating if the contribution should be show on deleted workItem.",
          "type": "boolean"
        }
      }
    },
    "WorkItemBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "abstract": {
          "type": "boolean"
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemBehaviorField"
          }
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "name": {
          "type": "string"
        },
        "overriden": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemBehaviorField": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviorFieldId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemBehaviorReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemStateResultModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "hidden": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "behavior": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "isDefault": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeModel": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeBehavior"
          }
        },
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.WorkItemTypeClass"
          }
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "description": "Parent WIT Id/Internal ReferenceName that it inherits from",
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "layout": {
          "$ref": "#/definitions/FormLayout"
        },
        "name": {
          "type": "string"
        },
        "states": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemStateResultModel"
          }
        },
        "url": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  },
  "x-internal-service-name": "Processes",
  "x-internal-toc-name": "Behaviors",
  "x-internal-split-members": [
    {
      "displayName": "Get Get Get Get t",
      "relativePath": "Behaviors/Behaviors_Get"
    },
    {
      "displayName": "List List List st",
      "relativePath": "Behaviors/Behaviors_List"
    }
  ],
  "x-internal-split-type": "TagOperation"
}