{
  "swagger": "2.0",
  "info": {
    "title": "Release",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Release",
  "basePath": "/",
  "tags": [
    {
      "name": "agentartifacts"
    },
    {
      "name": "approvals"
    },
    {
      "name": "autotriggerissues"
    },
    {
      "name": "changes"
    },
    {
      "name": "definitionEnvironments"
    },
    {
      "name": "definitions"
    },
    {
      "name": "deployments"
    },
    {
      "name": "environmenttemplates"
    },
    {
      "name": "favorites"
    },
    {
      "name": "folders"
    },
    {
      "name": "history"
    },
    {
      "name": "inputvaluesquery"
    },
    {
      "name": "issues"
    },
    {
      "name": "manualInterventions"
    },
    {
      "name": "metrics"
    },
    {
      "name": "projects"
    },
    {
      "name": "releases"
    },
    {
      "name": "releasesettings"
    },
    {
      "name": "sendmail"
    },
    {
      "name": "sourcebranches"
    },
    {
      "name": "tags"
    },
    {
      "name": "tasks"
    },
    {
      "name": "types"
    },
    {
      "name": "versions"
    },
    {
      "name": "workitems"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/release/releases/{releaseId}/tags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "AddReleaseTags",
        "description": "Adds tag to a release",
        "operationId": "Tags_AddReleaseTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ],
        "x-internal-toc-name": "Add Add dd Release Tags"
      }
    }
  },
  "definitions": {
    "AgentArtifactDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "artifactType": {
          "enum": [
            "xamlBuild",
            "build",
            "jenkins",
            "fileShare",
            "nuget",
            "tfsOnPrem",
            "gitHub",
            "tFGit",
            "externalTfsBuild",
            "custom",
            "tfvc"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.AgentArtifactType"
          }
        },
        "details": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "AgentBasedDeployPhase": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/AgentDeploymentInput"
        }
      }
    },
    "AgentDeploymentInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentInput"
        }
      ],
      "properties": {
        "imageId": {
          "type": "integer",
          "format": "int32"
        },
        "parallelExecution": {
          "$ref": "#/definitions/ExecutionInput"
        }
      }
    },
    "ApprovalOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "autoTriggeredAndPreviousEnvironmentApprovedCanBeSkipped": {
          "type": "boolean"
        },
        "enforceIdentityRevalidation": {
          "type": "boolean"
        },
        "releaseCreatorCanBeApprover": {
          "type": "boolean"
        },
        "requiredApproverCount": {
          "type": "integer",
          "format": "int32"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Artifact": {
      "description": "",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Gets or sets alias.",
          "type": "string"
        },
        "definitionReference": {
          "description": "Gets or sets definition reference. e.g. {\"project\":{\"id\":\"fed755ea-49c5-4399-acea-fd5b5aa90a6c\",\"name\":\"myProject\"},\"definition\":{\"id\":\"1\",\"name\":\"mybuildDefinition\"},\"connection\":{\"id\":\"1\",\"name\":\"myConnection\"}}",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ArtifactSourceReference"
          }
        },
        "isPrimary": {
          "description": "Gets or sets as artifact is primary or not.",
          "type": "boolean"
        },
        "sourceId": {
          "type": "string"
        },
        "type": {
          "description": "Gets or sets type. It can have value as 'Build', 'Jenkins', 'GitHub', 'Nuget', 'Team Build (external)', 'ExternalTFSBuild', 'Git', 'TFVC', 'ExternalTfsXamlBuild'.",
          "type": "string"
        }
      }
    },
    "ArtifactContributionDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactType": {
          "type": "string"
        },
        "artifactTypeStreamMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "browsableArtifactTypeMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataSourceBindings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSourceBinding"
          }
        },
        "displayName": {
          "type": "string"
        },
        "downloadTaskId": {
          "type": "string"
        },
        "endpointTypeId": {
          "type": "string"
        },
        "inputDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputDescriptor"
          }
        },
        "name": {
          "type": "string"
        },
        "uniqueSourceIdentifier": {
          "type": "string"
        }
      }
    },
    "ArtifactDownloadInputBase": {
      "description": "",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "artifactDownloadMode": {
          "type": "string"
        },
        "artifactType": {
          "type": "string"
        }
      }
    },
    "ArtifactFilter": {
      "description": "",
      "type": "object",
      "properties": {
        "sourceBranch": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArtifactInstanceData": {
      "description": "",
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "authenticationToken": {
          "type": "string"
        },
        "tfsUrl": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ArtifactMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Sets alias of artifact.",
          "type": "string"
        },
        "instanceReference": {
          "description": "Sets instance reference of artifact. e.g. for build artifact it is build number.",
          "$ref": "#/definitions/BuildVersion"
        }
      }
    },
    "ArtifactProvider": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "sourceUri": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ArtifactsDownloadInput": {
      "description": "",
      "type": "object",
      "properties": {
        "downloadInputs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactDownloadInputBase"
          }
        }
      }
    },
    "ArtifactSourceId": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactTypeId": {
          "type": "string"
        },
        "sourceIdInputs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceIdInput"
          }
        }
      }
    },
    "ArtifactSourceIdsQueryResult": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactSourceIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactSourceId"
          }
        }
      }
    },
    "ArtifactSourceReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ArtifactSourceTrigger": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReleaseTriggerBase"
        }
      ],
      "properties": {
        "artifactAlias": {
          "description": "Artifact source alias for Artifact Source trigger type",
          "type": "string"
        },
        "triggerConditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactFilter"
          }
        }
      }
    },
    "ArtifactTypeDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "inputDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputDescriptor"
          }
        },
        "name": {
          "type": "string"
        },
        "uniqueSourceIdentifier": {
          "type": "string"
        }
      }
    },
    "ArtifactVersion": {
      "description": "",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "defaultVersion": {
          "$ref": "#/definitions/BuildVersion"
        },
        "errorMessage": {
          "type": "string"
        },
        "sourceId": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildVersion"
          }
        }
      }
    },
    "ArtifactVersionQueryResult": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactVersions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactVersion"
          }
        }
      }
    },
    "AutoTriggerIssue": {
      "description": "",
      "type": "object",
      "properties": {
        "issue": {
          "$ref": "#/definitions/Issue"
        },
        "issueSource": {
          "enum": [
            "none",
            "user",
            "system"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.IssueSource"
          }
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "releaseDefinitionReference": {
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releaseTriggerType": {
          "enum": [
            "undefined",
            "artifactSource",
            "schedule",
            "sourceRepo"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ReleaseTriggerType"
          }
        }
      }
    },
    "AzureKeyVaultVariableGroupProviderData": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VariableGroupProviderData"
        }
      ],
      "properties": {
        "lastRefreshedOn": {
          "type": "string",
          "format": "date-time"
        },
        "serviceEndpointId": {
          "type": "string",
          "format": "uuid"
        },
        "vault": {
          "type": "string"
        }
      }
    },
    "AzureKeyVaultVariableValue": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VariableValue"
        }
      ],
      "properties": {
        "contentType": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "expires": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "BaseDeploymentInput": {
      "description": "",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "jobCancelTimeoutInMinutes": {
          "description": "Gets or sets the job cancel timeout in minutes for deployment which are cancelled by user for this release environment",
          "type": "integer",
          "format": "int32"
        },
        "overrideInputs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeoutInMinutes": {
          "description": "Gets or sets the job execution timeout in minutes for deployment which are queued against this release environment",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildArtifactDownloadInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArtifactDownloadInputBase"
        }
      ],
      "properties": {
        "artifactItems": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BuildVersion": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sourceBranch": {
          "type": "string"
        },
        "sourceRepositoryId": {
          "type": "string"
        },
        "sourceRepositoryType": {
          "type": "string"
        },
        "sourceVersion": {
          "type": "string"
        }
      }
    },
    "Change": {
      "description": "Represents a change associated with a build.",
      "type": "object",
      "properties": {
        "author": {
          "description": "The author of the change.",
          "$ref": "#/definitions/IdentityRef"
        },
        "changeType": {
          "description": "The type of change. \"commit\", \"changeset\", etc.",
          "type": "string"
        },
        "displayUri": {
          "description": "The location of a user-friendly representation of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Something that identifies the change. For a commit, this would be the SHA1. For a TFVC changeset, this would be the changeset id.",
          "type": "string"
        },
        "location": {
          "description": "The location of the full representation of the resource.",
          "type": "string"
        },
        "message": {
          "description": "A description of the change. This might be a commit message or changeset description.",
          "type": "string"
        },
        "timestamp": {
          "description": "A timestamp for the change.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Condition": {
      "description": "",
      "type": "object",
      "properties": {
        "conditionType": {
          "description": "Gets or sets the condition type.",
          "enum": [
            "undefined",
            "event",
            "environmentState",
            "artifact"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.Conditions.ConditionType"
          }
        },
        "name": {
          "description": "Gets or sets the name of the condition. e.g. 'ReleaseStarted'.",
          "type": "string"
        },
        "value": {
          "description": "Gets or set value of the condition.",
          "type": "string"
        }
      }
    },
    "ConfigurationVariableValue": {
      "description": "",
      "type": "object",
      "properties": {
        "isSecret": {
          "description": "Gets or sets as variable is secret or not.",
          "type": "boolean"
        },
        "value": {
          "description": "Gets or sets value of the configuration variable.",
          "type": "string"
        }
      }
    },
    "Consumer": {
      "description": "",
      "type": "object",
      "properties": {
        "consumerId": {
          "type": "integer",
          "format": "int32"
        },
        "consumerName": {
          "type": "string"
        }
      }
    },
    "ContinuousDeploymentTriggerIssue": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AutoTriggerIssue"
        }
      ],
      "properties": {
        "artifactType": {
          "type": "string"
        },
        "artifactVersionId": {
          "type": "string"
        },
        "sourceId": {
          "type": "string"
        }
      }
    },
    "ControlOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "alwaysRun": {
          "type": "boolean"
        },
        "continueOnError": {
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "CustomArtifactDownloadInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArtifactDownloadInputBase"
        }
      ],
      "properties": {}
    },
    "DataSourceBinding": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceName": {
          "type": "string"
        },
        "endpointId": {
          "type": "string"
        },
        "endpointUrl": {
          "type": "string"
        },
        "parameters": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resultSelector": {
          "type": "string"
        },
        "resultTemplate": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "DataSourceBindingBase": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceName": {
          "type": "string"
        },
        "endpointId": {
          "type": "string"
        },
        "endpointUrl": {
          "type": "string"
        },
        "parameters": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resultSelector": {
          "type": "string"
        },
        "resultTemplate": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "DefinitionEnvironmentReference": {
      "description": "",
      "type": "object",
      "properties": {
        "definitionEnvironmentId": {
          "type": "integer",
          "format": "int32"
        },
        "definitionEnvironmentName": {
          "type": "string"
        },
        "releaseDefinitionId": {
          "type": "integer",
          "format": "int32"
        },
        "releaseDefinitionName": {
          "type": "string"
        }
      }
    },
    "Demand": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Deployment": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets links to access the deployment.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "attempt": {
          "description": "Gets attempt number.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Gets the list of condition associated with deployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        },
        "definitionEnvironmentId": {
          "description": "Gets release definition environment id.",
          "type": "integer",
          "format": "int32"
        },
        "deploymentStatus": {
          "description": "Gets status of the deployment.",
          "enum": [
            "undefined",
            "notDeployed",
            "inProgress",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentStatus"
          }
        },
        "id": {
          "description": "Gets the unique identifier for deployment.",
          "type": "integer",
          "format": "int32"
        },
        "lastModifiedBy": {
          "description": "Gets the identity who last modified the deployment.",
          "$ref": "#/definitions/IdentityRef"
        },
        "lastModifiedOn": {
          "description": "Gets the date on which deployment is last modified.",
          "type": "string",
          "format": "date-time"
        },
        "operationStatus": {
          "description": "Gets operation status of deployment.",
          "enum": [
            "undefined",
            "queued",
            "scheduled",
            "pending",
            "approved",
            "rejected",
            "deferred",
            "queuedForAgent",
            "phaseInProgress",
            "phaseSucceeded",
            "phasePartiallySucceeded",
            "phaseFailed",
            "canceled",
            "phaseCanceled",
            "manualInterventionPending",
            "queuedForPipeline",
            "cancelling",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentOperationStatus"
          }
        },
        "postDeployApprovals": {
          "description": "Gets list of PostDeployApprovals.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "preDeployApprovals": {
          "description": "Gets list of PreDeployApprovals.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "queuedOn": {
          "description": "Gets the date on which deployment is queued.",
          "type": "string",
          "format": "date-time"
        },
        "reason": {
          "description": "Gets reason of deployment.",
          "enum": [
            "none",
            "manual",
            "automated",
            "scheduled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentReason"
          }
        },
        "release": {
          "description": "Gets the reference of release.",
          "$ref": "#/definitions/ReleaseReference"
        },
        "releaseDefinition": {
          "description": "Gets releaseDefinitionReference which specifies the reference of the release definition to which the deployment is associated.",
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releaseEnvironment": {
          "description": "Gets releaseEnvironmentReference which specifies the reference of the release environment to which the deployment is associated.",
          "$ref": "#/definitions/ReleaseEnvironmentShallowReference"
        },
        "requestedBy": {
          "description": "Gets the identity who requested.",
          "$ref": "#/definitions/IdentityRef"
        },
        "requestedFor": {
          "description": "Gets the identity for whom deployment is requested.",
          "$ref": "#/definitions/IdentityRef"
        },
        "scheduledDeploymentTime": {
          "description": "Gets the date on which deployment is scheduled.",
          "type": "string",
          "format": "date-time"
        },
        "startedOn": {
          "description": "Gets the date on which deployment is started.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DeploymentApprovalCompletedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "approval": {
          "$ref": "#/definitions/ReleaseApproval"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "release": {
          "$ref": "#/definitions/Release"
        }
      }
    },
    "DeploymentApprovalPendingEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "approval": {
          "$ref": "#/definitions/ReleaseApproval"
        },
        "approvalOptions": {
          "$ref": "#/definitions/ApprovalOptions"
        },
        "completedApprovals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "deployment": {
          "$ref": "#/definitions/Deployment"
        },
        "isMultipleRankApproval": {
          "type": "boolean"
        },
        "pendingApprovals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "release": {
          "$ref": "#/definitions/Release"
        }
      }
    },
    "DeploymentAttempt": {
      "description": "",
      "type": "object",
      "properties": {
        "attempt": {
          "type": "integer",
          "format": "int32"
        },
        "deploymentId": {
          "type": "integer",
          "format": "int32"
        },
        "errorLog": {
          "description": "Error log to show any unexpected error that occurred during executing deploy step",
          "type": "string"
        },
        "hasStarted": {
          "description": "Specifies whether deployment has started or not",
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "job": {
          "$ref": "#/definitions/ReleaseTask"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "lastModifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "operationStatus": {
          "enum": [
            "undefined",
            "queued",
            "scheduled",
            "pending",
            "approved",
            "rejected",
            "deferred",
            "queuedForAgent",
            "phaseInProgress",
            "phaseSucceeded",
            "phasePartiallySucceeded",
            "phaseFailed",
            "canceled",
            "phaseCanceled",
            "manualInterventionPending",
            "queuedForPipeline",
            "cancelling",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentOperationStatus"
          }
        },
        "queuedOn": {
          "type": "string",
          "format": "date-time"
        },
        "reason": {
          "enum": [
            "none",
            "manual",
            "automated",
            "scheduled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentReason"
          }
        },
        "releaseDeployPhases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseDeployPhase"
          }
        },
        "requestedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "requestedFor": {
          "$ref": "#/definitions/IdentityRef"
        },
        "runPlanId": {
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "enum": [
            "undefined",
            "notDeployed",
            "inProgress",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentStatus"
          }
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseTask"
          }
        }
      }
    },
    "DeploymentAuthorizationInfo": {
      "description": "",
      "type": "object",
      "properties": {
        "authorizationHeaderFor": {
          "enum": [
            "revalidateApproverIdentity",
            "onBehalfOf"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.AuthorizationHeaderFor"
          }
        },
        "resources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tenantId": {
          "readOnly": true,
          "type": "string"
        },
        "vstsAccessTokenKey": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeploymentCompletedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "comment": {
          "type": "string"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "deployment": {
          "$ref": "#/definitions/Deployment"
        },
        "environment": {
          "$ref": "#/definitions/ReleaseEnvironment"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        }
      }
    },
    "DeploymentInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BaseDeploymentInput"
        }
      ],
      "properties": {
        "artifactsDownloadInput": {
          "$ref": "#/definitions/ArtifactsDownloadInput"
        },
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "enableAccessToken": {
          "type": "boolean"
        },
        "queueId": {
          "type": "integer",
          "format": "int32"
        },
        "skipArtifactsDownload": {
          "type": "boolean"
        }
      }
    },
    "DeploymentJob": {
      "description": "",
      "type": "object",
      "properties": {
        "job": {
          "$ref": "#/definitions/ReleaseTask"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseTask"
          }
        }
      }
    },
    "DeploymentManualInterventionPendingEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "deployment": {
          "$ref": "#/definitions/Deployment"
        },
        "emailRecipients": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        },
        "environmentOwner": {
          "$ref": "#/definitions/IdentityRef"
        },
        "manualIntervention": {
          "$ref": "#/definitions/ManualIntervention"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "release": {
          "$ref": "#/definitions/Release"
        }
      }
    },
    "DeploymentQueryParameters": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactSourceId": {
          "type": "string"
        },
        "artifactTypeId": {
          "type": "string"
        },
        "artifactVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deploymentStatus": {
          "enum": [
            "undefined",
            "notDeployed",
            "inProgress",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentStatus"
          }
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DefinitionEnvironmentReference"
          }
        },
        "expands": {
          "enum": [
            "all",
            "deploymentOnly",
            "approvals",
            "artifacts"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.DeploymentExpands"
          }
        },
        "isDeleted": {
          "type": "boolean"
        },
        "latestDeploymentsOnly": {
          "type": "boolean"
        },
        "maxDeploymentsPerEnvironment": {
          "type": "integer",
          "format": "int32"
        },
        "maxModifiedTime": {
          "type": "string",
          "format": "date-time"
        },
        "minModifiedTime": {
          "type": "string",
          "format": "date-time"
        },
        "operationStatus": {
          "enum": [
            "undefined",
            "queued",
            "scheduled",
            "pending",
            "approved",
            "rejected",
            "deferred",
            "queuedForAgent",
            "phaseInProgress",
            "phaseSucceeded",
            "phasePartiallySucceeded",
            "phaseFailed",
            "canceled",
            "phaseCanceled",
            "manualInterventionPending",
            "queuedForPipeline",
            "cancelling",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentOperationStatus"
          }
        },
        "queryOrder": {
          "enum": [
            "descending",
            "ascending"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ReleaseQueryOrder"
          }
        }
      }
    },
    "DeploymentStartedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "#/definitions/ReleaseEnvironment"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "release": {
          "$ref": "#/definitions/Release"
        }
      }
    },
    "DeployPhase": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "phaseType": {
          "readOnly": true,
          "enum": [
            "undefined",
            "agentBasedDeployment",
            "runOnServer",
            "machineGroupBasedDeployment"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeployPhaseTypes"
          }
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "workflowTasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTask"
          }
        }
      }
    },
    "EmailRecipients": {
      "description": "",
      "type": "object",
      "properties": {
        "emailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tfsIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    },
    "EnvironmentExecutionPolicy": {
      "description": "Defines policy on environment queuing at Release Management side queue. We will send to Environment Runner [creating pre-deploy and other steps] only when the policies mentioned are satisfied.",
      "type": "object",
      "properties": {
        "concurrencyCount": {
          "description": "This policy decides, how many environments would be with Environment Runner.",
          "type": "integer",
          "format": "int32"
        },
        "queueDepthCount": {
          "description": "Queue depth in the EnvironmentQueue table, this table keeps the environment entries till Environment Runner is free [as per it's policy] to take another environment for running.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EnvironmentOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "emailNotificationType": {
          "type": "string"
        },
        "emailRecipients": {
          "type": "string"
        },
        "enableAccessToken": {
          "type": "boolean"
        },
        "publishDeploymentStatus": {
          "type": "boolean"
        },
        "skipArtifactsDownload": {
          "type": "boolean"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EnvironmentRetentionPolicy": {
      "description": "",
      "type": "object",
      "properties": {
        "daysToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "releasesToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "retainBuild": {
          "type": "boolean"
        }
      }
    },
    "ExecutionInput": {
      "description": "",
      "type": "object",
      "properties": {
        "parallelExecutionType": {
          "readOnly": true,
          "enum": [
            "none",
            "multiConfiguration",
            "multiMachine"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.ParallelExecutionTypes"
          }
        }
      }
    },
    "FavoriteItem": {
      "description": "Class to represent favorite entry",
      "type": "object",
      "properties": {
        "data": {
          "description": "Application specific data for the entry",
          "type": "string"
        },
        "id": {
          "description": "Unique Id of the the entry",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Display text for favorite entry",
          "type": "string"
        },
        "type": {
          "description": "Application specific favorite entry type. Empty or Null represents that Favorite item is a Folder",
          "type": "string"
        }
      }
    },
    "Folder": {
      "description": "",
      "type": "object",
      "properties": {
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "lastChangedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "lastChangedDate": {
          "type": "string",
          "format": "date-time"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "GitArtifactDownloadInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArtifactDownloadInputBase"
        }
      ],
      "properties": {}
    },
    "GitHubArtifactDownloadInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArtifactDownloadInputBase"
        }
      ],
      "properties": {}
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "InputDescriptor": {
      "description": "Describes an input for subscriptions.",
      "type": "object",
      "properties": {
        "dependencyInputIds": {
          "description": "The ids of all inputs that the value of this input is dependent on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of what this input is used for",
          "type": "string"
        },
        "groupName": {
          "description": "The group localized name to which this input belongs and can be shown as a header for the container that will include all the inputs in the group.",
          "type": "string"
        },
        "hasDynamicValueInformation": {
          "description": "If true, the value information for this input is dynamic and should be fetched when the value of dependency inputs change.",
          "type": "boolean"
        },
        "id": {
          "description": "Identifier for the subscription input",
          "type": "string"
        },
        "inputMode": {
          "description": "Mode in which the value of this input should be entered",
          "enum": [
            "none",
            "textBox",
            "passwordBox",
            "combo",
            "radioButtons",
            "checkBox",
            "textArea"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.FormInput.InputMode"
          }
        },
        "isConfidential": {
          "description": "Gets whether this input is confidential, such as for a password or application key",
          "type": "boolean"
        },
        "name": {
          "description": "Localized name which can be shown as a label for the subscription input",
          "type": "string"
        },
        "properties": {
          "description": "Custom properties for the input which can be used by the service provider",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "type": {
          "description": "Underlying data type for the input value. When this value is specified, InputMode, Validation and Values are optional.",
          "type": "string"
        },
        "useInDefaultDescription": {
          "description": "Gets whether this input is included in the default generated action description.",
          "type": "boolean"
        },
        "validation": {
          "description": "Information to use to validate this input's value",
          "$ref": "#/definitions/InputValidation"
        },
        "valueHint": {
          "description": "A hint for input value. It can be used in the UI as the input placeholder.",
          "type": "string"
        },
        "values": {
          "description": "Information about possible values for this input",
          "$ref": "#/definitions/InputValues"
        }
      }
    },
    "InputValidation": {
      "description": "Describes what values are valid for a subscription input",
      "type": "object",
      "properties": {
        "dataType": {
          "enum": [
            "none",
            "string",
            "number",
            "boolean",
            "guid",
            "uri"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.FormInput.InputDataType"
          }
        },
        "isRequired": {
          "type": "boolean"
        },
        "maxLength": {
          "type": "integer",
          "format": "int32"
        },
        "maxValue": {
          "type": "string",
          "format": "decimal"
        },
        "minLength": {
          "type": "integer",
          "format": "int32"
        },
        "minValue": {
          "type": "string",
          "format": "decimal"
        },
        "pattern": {
          "type": "string"
        },
        "patternMismatchErrorMessage": {
          "type": "string"
        }
      }
    },
    "InputValue": {
      "description": "Information about a single value for an input",
      "type": "object",
      "properties": {
        "data": {
          "description": "Any other data about this input",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "displayValue": {
          "description": "The text to show for the display of this value",
          "type": "string"
        },
        "value": {
          "description": "The value to store for this input",
          "type": "string"
        }
      }
    },
    "InputValues": {
      "description": "Information about the possible/allowed values for a given subscription input",
      "type": "object",
      "properties": {
        "defaultValue": {
          "description": "The default value to use for this input",
          "type": "string"
        },
        "error": {
          "description": "Errors encountered while computing dynamic values.",
          "$ref": "#/definitions/InputValuesError"
        },
        "inputId": {
          "description": "The id of the input",
          "type": "string"
        },
        "isDisabled": {
          "description": "Should this input be disabled",
          "type": "boolean"
        },
        "isLimitedToPossibleValues": {
          "description": "Should the value be restricted to one of the values in the PossibleValues (True) or are the values in PossibleValues just a suggestion (False)",
          "type": "boolean"
        },
        "isReadOnly": {
          "description": "Should this input be made read-only",
          "type": "boolean"
        },
        "possibleValues": {
          "description": "Possible values that this input can take",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputValue"
          }
        }
      }
    },
    "InputValuesError": {
      "description": "Error information related to a subscription input value.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The error message.",
          "type": "string"
        }
      }
    },
    "InputValuesQuery": {
      "description": "",
      "type": "object",
      "properties": {
        "currentValues": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputValues": {
          "description": "The input values to return on input, and the result from the consumer on output.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputValues"
          }
        },
        "resource": {
          "description": "Subscription containing information about the publisher/consumer and the current input values",
          "type": "object"
        }
      }
    },
    "Issue": {
      "description": "",
      "type": "object",
      "properties": {
        "issueType": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "JenkinsArtifactDownloadInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArtifactDownloadInputBase"
        }
      ],
      "properties": {
        "artifactItems": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MachineGroupBasedDeployPhase": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/MachineGroupDeploymentInput"
        }
      }
    },
    "MachineGroupDeploymentInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentInput"
        }
      ],
      "properties": {
        "deploymentHealthOption": {
          "type": "string"
        },
        "healthPercent": {
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MailMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "cC": {
          "$ref": "#/definitions/EmailRecipients"
        },
        "inReplyTo": {
          "type": "string"
        },
        "messageId": {
          "type": "string"
        },
        "replyBy": {
          "type": "string",
          "format": "date-time"
        },
        "replyTo": {
          "$ref": "#/definitions/EmailRecipients"
        },
        "sections": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "MailSectionType"
          }
        },
        "senderType": {
          "enum": [
            "serviceAccount",
            "requestingUser"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.SenderType"
          }
        },
        "subject": {
          "type": "string"
        },
        "to": {
          "$ref": "#/definitions/EmailRecipients"
        }
      }
    },
    "ManualIntervention": {
      "description": "",
      "type": "object",
      "properties": {
        "approver": {
          "description": "Gets or sets the identity who should approve.",
          "$ref": "#/definitions/IdentityRef"
        },
        "comments": {
          "description": "Gets or sets comments for approval.",
          "type": "string"
        },
        "createdOn": {
          "description": "Gets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Gets the unique identifier for manual intervention.",
          "type": "integer",
          "format": "int32"
        },
        "instructions": {
          "description": "Gets or sets instructions for approval.",
          "type": "string"
        },
        "modifiedOn": {
          "description": "Gets date on which it got modified.",
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Gets or sets the name.",
          "type": "string"
        },
        "release": {
          "description": "Gets releaseReference for manual intervention.",
          "$ref": "#/definitions/ReleaseShallowReference"
        },
        "releaseDefinition": {
          "description": "Gets releaseDefinitionReference for manual intervention.",
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releaseEnvironment": {
          "description": "Gets releaseEnvironmentReference for manual intervention.",
          "$ref": "#/definitions/ReleaseEnvironmentShallowReference"
        },
        "status": {
          "description": "Gets or sets the status of the manual intervention.",
          "enum": [
            "unknown",
            "pending",
            "rejected",
            "approved",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ManualInterventionStatus"
          }
        },
        "taskInstanceId": {
          "description": "Get task instance identifier.",
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "description": "Gets url to access the manual intervention.",
          "type": "string"
        }
      }
    },
    "ManualInterventionUpdateMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "comment": {
          "description": "Sets the comment for manual intervention update.",
          "type": "string"
        },
        "status": {
          "description": "Sets the status of the manual intervention.",
          "enum": [
            "unknown",
            "pending",
            "rejected",
            "approved",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ManualInterventionStatus"
          }
        }
      }
    },
    "MappingDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "mappings": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/InputValue"
          }
        }
      }
    },
    "Metric": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MultiConfigInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ParallelExecutionInputBase"
        }
      ],
      "properties": {
        "multipliers": {
          "type": "string"
        }
      }
    },
    "MultiMachineInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ParallelExecutionInputBase"
        }
      ],
      "properties": {}
    },
    "ParallelExecutionInputBase": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ExecutionInput"
        }
      ],
      "properties": {
        "continueOnError": {
          "type": "boolean"
        },
        "maxNumberOfAgents": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProcessParameters": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceBindings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSourceBindingBase"
          }
        },
        "inputs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInputDefinitionBase"
          }
        },
        "sourceDefinitions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskSourceDefinitionBase"
          }
        }
      }
    },
    "ProjectReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets the unique identifier of this field.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Gets name of project.",
          "type": "string"
        }
      }
    },
    "PropertiesCollection": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of properties in the collection.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "item": {
          "type": "object"
        },
        "keys": {
          "description": "The set of keys in the collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "description": "The set of values in the collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PropertySelector": {
      "description": "",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selectorType": {
          "enum": [
            "inclusion",
            "exclusion"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.PropertySelectorType"
          }
        }
      }
    },
    "QueuedReleaseData": {
      "description": "",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "format": "uuid"
        },
        "queuePosition": {
          "type": "integer",
          "format": "int32"
        },
        "releaseId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RealtimeReleaseEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "projectId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "releaseId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.  Example: `{ self: { href: \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "Release": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets links to access the release.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifacts": {
          "description": "Gets or sets the list of artifacts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "comment": {
          "description": "Gets or sets comment.",
          "type": "string"
        },
        "createdBy": {
          "description": "Gets or sets the identity who created.",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "description": "Gets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "definitionSnapshotRevision": {
          "description": "Gets revision number of definition snapshot.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Gets or sets description of release.",
          "type": "string"
        },
        "environments": {
          "description": "Gets list of environments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseEnvironment"
          }
        },
        "id": {
          "description": "Gets the unique identifier of this field.",
          "type": "integer",
          "format": "int32"
        },
        "keepForever": {
          "description": "Whether to exclude the release from retention policies.",
          "type": "boolean"
        },
        "logsContainerUrl": {
          "description": "Gets logs container url.",
          "type": "string"
        },
        "modifiedBy": {
          "description": "Gets or sets the identity who modified.",
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "description": "Gets date on which it got modified.",
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Gets name.",
          "type": "string"
        },
        "poolName": {
          "description": "Gets pool name.",
          "type": "string"
        },
        "projectReference": {
          "description": "Gets or sets project reference.",
          "$ref": "#/definitions/ProjectReference"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "reason": {
          "description": "Gets reason of release.",
          "enum": [
            "none",
            "manual",
            "continuousIntegration",
            "schedule"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ReleaseReason"
          }
        },
        "releaseDefinition": {
          "description": "Gets releaseDefinitionReference which specifies the reference of the release definition to which this release is associated.",
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releaseNameFormat": {
          "description": "Gets release name format.",
          "type": "string"
        },
        "status": {
          "description": "Gets status.",
          "enum": [
            "undefined",
            "draft",
            "active",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ReleaseStatus"
          }
        },
        "tags": {
          "description": "Gets or sets list of tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "url": {
          "type": "string"
        },
        "variableGroups": {
          "description": "Gets the list of variable groups.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/VariableGroup"
          }
        },
        "variables": {
          "description": "Gets or sets the dictionary of variables.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "ReleaseAbandonedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "release": {
          "$ref": "#/definitions/Release"
        }
      }
    },
    "ReleaseApproval": {
      "description": "",
      "type": "object",
      "properties": {
        "approvalType": {
          "description": "Gets or sets the type of approval.",
          "enum": [
            "undefined",
            "preDeploy",
            "postDeploy",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ApprovalType"
          }
        },
        "approvedBy": {
          "description": "Gets the identity who approved.",
          "$ref": "#/definitions/IdentityRef"
        },
        "approver": {
          "description": "Gets or sets the identity who should approve.",
          "$ref": "#/definitions/IdentityRef"
        },
        "attempt": {
          "description": "Gets or sets attempt which specifies as which deployment attempt it belongs.",
          "type": "integer",
          "format": "int32"
        },
        "comments": {
          "description": "Gets or sets comments for approval.",
          "type": "string"
        },
        "createdOn": {
          "description": "Gets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "history": {
          "description": "Gets history which specifies all approvals associated with this approval.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApprovalHistory"
          }
        },
        "id": {
          "description": "Gets the unique identifier of this field.",
          "type": "integer",
          "format": "int32"
        },
        "isAutomated": {
          "description": "Gets or sets as approval is automated or not.",
          "type": "boolean"
        },
        "isNotificationOn": {
          "type": "boolean"
        },
        "modifiedOn": {
          "description": "Gets date on which it got modified.",
          "type": "string",
          "format": "date-time"
        },
        "rank": {
          "description": "Gets or sets rank which specifies the order of the approval. e.g. Same rank denotes parallel approval.",
          "type": "integer",
          "format": "int32"
        },
        "release": {
          "description": "Gets releaseReference which specifies the reference of the release to which this approval is associated.",
          "$ref": "#/definitions/ReleaseShallowReference"
        },
        "releaseDefinition": {
          "description": "Gets releaseDefinitionReference which specifies the reference of the release definition to which this approval is associated.",
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releaseEnvironment": {
          "description": "Gets releaseEnvironmentReference which specifies the reference of the release environment to which this approval is associated.",
          "$ref": "#/definitions/ReleaseEnvironmentShallowReference"
        },
        "revision": {
          "description": "Gets the revision number.",
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "description": "Gets or sets the status of the approval.",
          "enum": [
            "undefined",
            "pending",
            "approved",
            "rejected",
            "reassigned",
            "canceled",
            "skipped"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ApprovalStatus"
          }
        },
        "trialNumber": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "description": "Gets url to access the approval.",
          "type": "string"
        }
      }
    },
    "ReleaseApprovalHistory": {
      "description": "",
      "type": "object",
      "properties": {
        "approver": {
          "$ref": "#/definitions/IdentityRef"
        },
        "changedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "comments": {
          "type": "string"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseApprovalPendingEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "approval": {
          "$ref": "#/definitions/ReleaseApproval"
        },
        "approvalOptions": {
          "$ref": "#/definitions/ApprovalOptions"
        },
        "completedApprovals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "definitionName": {
          "type": "string"
        },
        "deployment": {
          "$ref": "#/definitions/Deployment"
        },
        "environmentId": {
          "type": "integer",
          "format": "int32"
        },
        "environmentName": {
          "type": "string"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseEnvironment"
          }
        },
        "isMultipleRankApproval": {
          "type": "boolean"
        },
        "pendingApprovals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "releaseCreator": {
          "type": "string"
        },
        "releaseName": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "webAccessUri": {
          "type": "string"
        }
      }
    },
    "ReleaseArtifact": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactProvider": {
          "$ref": "#/definitions/ArtifactProvider"
        },
        "artifactType": {
          "type": "string"
        },
        "definitionData": {
          "type": "string"
        },
        "definitionId": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "releaseId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseCondition": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Condition"
        }
      ],
      "properties": {
        "result": {
          "type": "boolean"
        }
      }
    },
    "ReleaseCreatedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "release": {
          "$ref": "#/definitions/Release"
        }
      }
    },
    "ReleaseDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets links to access the release definition.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifacts": {
          "description": "Gets or sets the list of artifacts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "comment": {
          "description": "Gets or sets comment.",
          "type": "string"
        },
        "createdBy": {
          "description": "Gets or sets the identity who created.",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "description": "Gets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "Gets or sets the description.",
          "type": "string"
        },
        "environments": {
          "description": "Gets or sets the list of environments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseDefinitionEnvironment"
          }
        },
        "id": {
          "description": "Gets the unique identifier of this field.",
          "type": "integer",
          "format": "int32"
        },
        "isDeleted": {
          "description": "Whether release definition is deleted.",
          "type": "boolean"
        },
        "lastRelease": {
          "description": "Gets the reference of last release.",
          "$ref": "#/definitions/ReleaseReference"
        },
        "modifiedBy": {
          "description": "Gets or sets the identity who modified.",
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "description": "Gets date on which it got modified.",
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Gets or sets the name.",
          "type": "string"
        },
        "path": {
          "description": "Gets or sets the path.",
          "type": "string"
        },
        "properties": {
          "description": "Gets or sets properties.",
          "$ref": "#/definitions/PropertiesCollection"
        },
        "releaseNameFormat": {
          "description": "Gets or sets the release name format.",
          "type": "string"
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy"
        },
        "revision": {
          "description": "Gets the revision number.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "description": "Gets or sets source of release definition.",
          "enum": [
            "undefined",
            "restApi",
            "userInterface",
            "ibiza",
            "portalExtensionApi"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ReleaseDefinitionSource"
          }
        },
        "tags": {
          "description": "Gets or sets list of tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggers": {
          "description": "Gets or sets the list of triggers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseTriggerBase"
          }
        },
        "url": {
          "description": "Gets url to access the release definition.",
          "type": "string"
        },
        "variableGroups": {
          "description": "Gets or sets the list of variable groups.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "variables": {
          "description": "Gets or sets the dictionary of variables.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "ReleaseDefinitionApprovals": {
      "description": "",
      "type": "object",
      "properties": {
        "approvalOptions": {
          "$ref": "#/definitions/ApprovalOptions"
        },
        "approvals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseDefinitionApprovalStep"
          }
        }
      }
    },
    "ReleaseDefinitionApprovalStep": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReleaseDefinitionEnvironmentStep"
        }
      ],
      "properties": {
        "approver": {
          "$ref": "#/definitions/IdentityRef"
        },
        "isAutomated": {
          "type": "boolean"
        },
        "isNotificationOn": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseDefinitionDeployStep": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ReleaseDefinitionEnvironmentStep"
        }
      ],
      "properties": {
        "tasks": {
          "description": "The list of steps for this definition.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTask"
          }
        }
      }
    },
    "ReleaseDefinitionEnvironment": {
      "description": "",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        },
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "deployPhases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeployPhase"
          }
        },
        "deployStep": {
          "$ref": "#/definitions/ReleaseDefinitionDeployStep"
        },
        "environmentOptions": {
          "$ref": "#/definitions/EnvironmentOptions"
        },
        "executionPolicy": {
          "$ref": "#/definitions/EnvironmentExecutionPolicy"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/IdentityRef"
        },
        "postDeployApprovals": {
          "$ref": "#/definitions/ReleaseDefinitionApprovals"
        },
        "preDeployApprovals": {
          "$ref": "#/definitions/ReleaseDefinitionApprovals"
        },
        "processParameters": {
          "$ref": "#/definitions/ProcessParameters"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "queueId": {
          "type": "integer",
          "format": "int32"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "retentionPolicy": {
          "$ref": "#/definitions/EnvironmentRetentionPolicy"
        },
        "runOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseSchedule"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "ReleaseDefinitionEnvironmentStep": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseDefinitionEnvironmentSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastReleases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseShallowReference"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ReleaseDefinitionEnvironmentTemplate": {
      "description": "",
      "type": "object",
      "properties": {
        "canDelete": {
          "type": "boolean"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "environment": {
          "$ref": "#/definitions/ReleaseDefinitionEnvironment"
        },
        "iconTaskId": {
          "type": "string",
          "format": "uuid"
        },
        "iconUri": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ReleaseDefinitionRevision": {
      "description": "",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Gets api-version for revision object.",
          "type": "string"
        },
        "changedBy": {
          "description": "Gets the identity who did change.",
          "$ref": "#/definitions/IdentityRef"
        },
        "changedDate": {
          "description": "Gets date on which it got changed.",
          "type": "string",
          "format": "date-time"
        },
        "changeType": {
          "description": "Gets type of change.",
          "enum": [
            "add",
            "update",
            "delete",
            "undelete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.AuditAction"
          }
        },
        "comment": {
          "description": "Gets comments for revision.",
          "type": "string"
        },
        "definitionId": {
          "description": "Get id of the definition.",
          "type": "integer",
          "format": "int32"
        },
        "definitionUrl": {
          "description": "Gets definition url.",
          "type": "string"
        },
        "revision": {
          "description": "Get revision number of the definition.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseDefinitionShallowReference": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets the links to related resources, APIs, and views for the release definition.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "description": "Gets the unique identifier of release definition.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Gets or sets the name of the release definition.",
          "type": "string"
        },
        "url": {
          "description": "Gets the REST API url to access the release definition.",
          "type": "string"
        }
      }
    },
    "ReleaseDefinitionSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "environments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseDefinitionEnvironmentSummary"
          }
        },
        "releaseDefinition": {
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Release"
          }
        }
      }
    },
    "ReleaseDeployPhase": {
      "description": "",
      "type": "object",
      "properties": {
        "deploymentJobs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentJob"
          }
        },
        "errorLog": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "manualInterventions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManualIntervention"
          }
        },
        "phaseType": {
          "enum": [
            "undefined",
            "agentBasedDeployment",
            "runOnServer",
            "machineGroupBasedDeployment"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeployPhaseTypes"
          }
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "runPlanId": {
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "enum": [
            "undefined",
            "notStarted",
            "inProgress",
            "partiallySucceeded",
            "succeeded",
            "failed",
            "canceled",
            "skipped",
            "cancelling"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeployPhaseStatus"
          }
        }
      }
    },
    "ReleaseEnvironment": {
      "description": "",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "Gets list of conditions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseCondition"
          }
        },
        "createdOn": {
          "description": "Gets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "definitionEnvironmentId": {
          "description": "Gets definition environment id.",
          "type": "integer",
          "format": "int32"
        },
        "demands": {
          "description": "Gets demands.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "deployPhasesSnapshot": {
          "description": "Gets list of deploy phases snapshot.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeployPhase"
          }
        },
        "deploySteps": {
          "description": "Gets deploy steps.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentAttempt"
          }
        },
        "environmentOptions": {
          "description": "Gets environment options.",
          "$ref": "#/definitions/EnvironmentOptions"
        },
        "id": {
          "description": "Gets the unique identifier of this field.",
          "type": "integer",
          "format": "int32"
        },
        "modifiedOn": {
          "description": "Gets date on which it got modified.",
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Gets name.",
          "type": "string"
        },
        "nextScheduledUtcTime": {
          "description": "Gets next scheduled UTC time.",
          "type": "string",
          "format": "date-time"
        },
        "owner": {
          "description": "Gets the identity who is owner for release environment.",
          "$ref": "#/definitions/IdentityRef"
        },
        "postApprovalsSnapshot": {
          "description": "Gets list of post deploy approvals snapshot.",
          "$ref": "#/definitions/ReleaseDefinitionApprovals"
        },
        "postDeployApprovals": {
          "description": "Gets list of post deploy approvals.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "preApprovalsSnapshot": {
          "description": "Gets list of pre deploy approvals snapshot.",
          "$ref": "#/definitions/ReleaseDefinitionApprovals"
        },
        "preDeployApprovals": {
          "description": "Gets list of pre deploy approvals.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseApproval"
          }
        },
        "processParameters": {
          "description": "Gets process parameters.",
          "$ref": "#/definitions/ProcessParameters"
        },
        "queueId": {
          "description": "Gets queue id.",
          "type": "integer",
          "format": "int32"
        },
        "rank": {
          "description": "Gets rank.",
          "type": "integer",
          "format": "int32"
        },
        "release": {
          "description": "Gets release reference which specifies the reference of the release to which this release environment is associated.",
          "$ref": "#/definitions/ReleaseShallowReference"
        },
        "releaseCreatedBy": {
          "description": "Gets the identity who created release.",
          "$ref": "#/definitions/IdentityRef"
        },
        "releaseDefinition": {
          "description": "Gets releaseDefinitionReference which specifies the reference of the release definition to which this release environment is associated.",
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "releaseDescription": {
          "description": "Gets release description.",
          "type": "string"
        },
        "releaseId": {
          "description": "Gets release id.",
          "type": "integer",
          "format": "int32"
        },
        "scheduledDeploymentTime": {
          "description": "Gets schedule deployment time of release environment.",
          "type": "string",
          "format": "date-time"
        },
        "schedules": {
          "description": "Gets list of schedules.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReleaseSchedule"
          }
        },
        "status": {
          "description": "Gets environment status.",
          "enum": [
            "undefined",
            "notStarted",
            "inProgress",
            "succeeded",
            "canceled",
            "rejected",
            "queued",
            "scheduled",
            "partiallySucceeded"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.EnvironmentStatus"
          }
        },
        "timeToDeploy": {
          "description": "Gets time to deploy.",
          "type": "number",
          "format": "double"
        },
        "triggerReason": {
          "description": "Gets trigger reason.",
          "type": "string"
        },
        "variables": {
          "description": "Gets the dictionary of variables.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        },
        "workflowTasks": {
          "description": "Gets list of workflow tasks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTask"
          }
        }
      }
    },
    "ReleaseEnvironmentCompletedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "createdByName": {
          "type": "string"
        },
        "definitionId": {
          "type": "integer",
          "format": "int32"
        },
        "definitionName": {
          "type": "string"
        },
        "environment": {
          "$ref": "#/definitions/ReleaseEnvironment"
        },
        "environmentId": {
          "type": "integer",
          "format": "int32"
        },
        "projectName": {
          "type": "string"
        },
        "reason": {
          "enum": [
            "none",
            "manual",
            "automated",
            "scheduled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.DeploymentReason"
          }
        },
        "releaseCreatedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "releaseLogsUri": {
          "type": "string"
        },
        "releaseName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "webAccessUri": {
          "type": "string"
        }
      }
    },
    "ReleaseEnvironmentShallowReference": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets the links to related resources, APIs, and views for the release environment.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "description": "Gets the unique identifier of release environment.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Gets or sets the name of the release environment.",
          "type": "string"
        },
        "url": {
          "description": "Gets the REST API url to access the release environment.",
          "type": "string"
        }
      }
    },
    "ReleaseEnvironmentUpdateMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "comment": {
          "description": "Gets or sets comment.",
          "type": "string"
        },
        "scheduledDeploymentTime": {
          "description": "Gets or sets scheduled deployment time.",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "Gets or sets status of environment.",
          "enum": [
            "undefined",
            "notStarted",
            "inProgress",
            "succeeded",
            "canceled",
            "rejected",
            "queued",
            "scheduled",
            "partiallySucceeded"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.EnvironmentStatus"
          }
        }
      }
    },
    "ReleaseReference": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets links to access the release.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifacts": {
          "description": "Gets list of artifacts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "createdBy": {
          "description": "Gets the identity who created.",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "description": "Gets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "Gets description.",
          "type": "string"
        },
        "id": {
          "description": "Gets the unique identifier of this field.",
          "type": "integer",
          "format": "int32"
        },
        "modifiedBy": {
          "description": "Gets the identity who modified.",
          "$ref": "#/definitions/IdentityRef"
        },
        "name": {
          "description": "Gets name of release.",
          "type": "string"
        },
        "reason": {
          "description": "Gets reason for release.",
          "enum": [
            "none",
            "manual",
            "continuousIntegration",
            "schedule"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ReleaseReason"
          }
        },
        "releaseDefinition": {
          "description": "Gets release definition shallow reference.",
          "$ref": "#/definitions/ReleaseDefinitionShallowReference"
        },
        "url": {
          "type": "string"
        },
        "webAccessUri": {
          "type": "string"
        }
      }
    },
    "ReleaseRevision": {
      "description": "",
      "type": "object",
      "properties": {
        "changedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "changeDetails": {
          "type": "string"
        },
        "changeType": {
          "type": "string"
        },
        "comment": {
          "type": "string"
        },
        "definitionSnapshotRevision": {
          "type": "integer",
          "format": "int32"
        },
        "releaseId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseSchedule": {
      "description": "",
      "type": "object",
      "properties": {
        "daysToRelease": {
          "description": "Days of the week to release",
          "enum": [
            "none",
            "monday",
            "tuesday",
            "wednesday",
            "thursday",
            "friday",
            "saturday",
            "sunday",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.ScheduleDays"
          }
        },
        "jobId": {
          "description": "Team Foundation Job Definition Job Id",
          "type": "string",
          "format": "uuid"
        },
        "startHours": {
          "description": "Local time zone hour to start",
          "type": "integer",
          "format": "int32"
        },
        "startMinutes": {
          "description": "Local time zone minute to start",
          "type": "integer",
          "format": "int32"
        },
        "timeZoneId": {
          "description": "Time zone Id of release schedule, such as 'UTC'",
          "type": "string"
        }
      }
    },
    "ReleaseSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "retentionSettings": {
          "$ref": "#/definitions/RetentionSettings"
        }
      }
    },
    "ReleaseShallowReference": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "description": "Gets the links to related resources, APIs, and views for the release.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "description": "Gets the unique identifier of release.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Gets or sets the name of the release.",
          "type": "string"
        },
        "url": {
          "description": "Gets the REST API url to access the release.",
          "type": "string"
        }
      }
    },
    "ReleaseStartMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "artifacts": {
          "description": "Sets list of artifact to create a release.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactMetadata"
          }
        },
        "definitionId": {
          "description": "Sets definition Id to create a release.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Sets description to create a release.",
          "type": "string"
        },
        "isDraft": {
          "description": "Sets 'true' to create release in draft mode, 'false' otherwise.",
          "type": "boolean"
        },
        "manualEnvironments": {
          "description": "Sets list of environments to manual as condition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "reason": {
          "description": "Sets reason to create a release.",
          "enum": [
            "none",
            "manual",
            "continuousIntegration",
            "schedule"
          ],
          "x-ms-enum": {
[...]
