{
  "swagger": "2.0",
  "info": {
    "title": "Build",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Build",
  "x-ms-vss-resource-area-id": "965220d5-5bb9-42cf-8d67-9b146df2a5a4",
  "basePath": "/",
  "tags": [
    {
      "name": "artifacts"
    },
    {
      "name": "badge"
    },
    {
      "name": "buildbadge"
    },
    {
      "name": "builds"
    },
    {
      "name": "changes"
    },
    {
      "name": "Controllers"
    },
    {
      "name": "definitions"
    },
    {
      "name": "folders"
    },
    {
      "name": "logs"
    },
    {
      "name": "Metrics"
    },
    {
      "name": "options"
    },
    {
      "name": "properties"
    },
    {
      "name": "report"
    },
    {
      "name": "ResourceUsage"
    },
    {
      "name": "revisions"
    },
    {
      "name": "settings"
    },
    {
      "name": "tags"
    },
    {
      "name": "templates"
    },
    {
      "name": "Timeline"
    },
    {
      "name": "workitems"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/build/definitions/{DefinitionId}/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "GetDefinitionTags",
        "description": "Gets the tags for a definition",
        "operationId": "Tags_GetDefinitionTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ],
        "x-internal-toc-name": "Tags_GetDefinitionTags"
      }
    }
  },
  "definitions": {
    "AgentPoolQueue": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "pool": {
          "description": "The pool used by this queue.",
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "AgentPoolQueueTarget": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PhaseTarget"
        }
      ],
      "properties": {
        "demands": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "queue": {
          "description": "The queue.",
          "$ref": "#/definitions/AgentPoolQueue"
        }
      }
    },
    "AgentTargetExecutionOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ArtifactResource": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "data": {
          "description": "The type-specific resource data. For example, \"#/10002/5/drop\", \"$/drops/5\", \"\\\\myshare\\myfolder\\mydrops\\5\"",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Link to the resource. This might include things like query parameters to download as a zip file",
          "type": "string"
        },
        "properties": {
          "description": "Properties of Artifact Resource",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource: File container, version control folder, UNC path, etc.",
          "type": "string"
        },
        "url": {
          "description": "Link to the resource",
          "type": "string"
        }
      }
    },
    "Build": {
      "description": "Data representation of a build",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "buildNumber": {
          "description": "Build number/name of the build",
          "type": "string"
        },
        "buildNumberRevision": {
          "description": "Build number revision",
          "type": "integer",
          "format": "int32"
        },
        "controller": {
          "description": "The build controller. This should only be set if the definition type is Xaml.",
          "$ref": "#/definitions/BuildController"
        },
        "definition": {
          "description": "The definition associated with the build",
          "$ref": "#/definitions/DefinitionReference"
        },
        "deleted": {
          "description": "Indicates whether the build has been deleted.",
          "type": "boolean"
        },
        "deletedBy": {
          "description": "Process or person that deleted the build",
          "$ref": "#/definitions/IdentityRef"
        },
        "deletedDate": {
          "description": "Date the build was deleted",
          "type": "string",
          "format": "date-time"
        },
        "deletedReason": {
          "description": "Description of how the build was deleted",
          "type": "string"
        },
        "demands": {
          "description": "Demands",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "finishTime": {
          "description": "Time that the build was completed",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Id of the build",
          "type": "integer",
          "format": "int32"
        },
        "keepForever": {
          "type": "boolean"
        },
        "lastChangedBy": {
          "description": "Process or person that last changed the build",
          "$ref": "#/definitions/IdentityRef"
        },
        "lastChangedDate": {
          "description": "Date the build was last changed",
          "type": "string",
          "format": "date-time"
        },
        "logs": {
          "description": "Log location of the build",
          "$ref": "#/definitions/BuildLogReference"
        },
        "orchestrationPlan": {
          "description": "Orchestration plan for the build",
          "$ref": "#/definitions/TaskOrchestrationPlanReference"
        },
        "parameters": {
          "description": "Parameters for the build",
          "type": "string"
        },
        "plans": {
          "description": "Orchestration plans associated with the build (build, cleanup)",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskOrchestrationPlanReference"
          }
        },
        "priority": {
          "description": "The build's priority",
          "enum": [
            "low",
            "belowNormal",
            "normal",
            "aboveNormal",
            "high"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.QueuePriority"
          }
        },
        "project": {
          "description": "The team project",
          "$ref": "#/definitions/TeamProjectReference"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "quality": {
          "description": "Quality of the xaml build (good, bad, etc.)",
          "type": "string"
        },
        "queue": {
          "description": "The queue. This should only be set if the definition type is Build.",
          "$ref": "#/definitions/AgentPoolQueue"
        },
        "queueOptions": {
          "description": "Queue option of the build.",
          "enum": [
            "none",
            "doNotRun"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.QueueOptions"
          }
        },
        "queuePosition": {
          "description": "The current position of the build in the queue",
          "type": "integer",
          "format": "int32"
        },
        "queueTime": {
          "description": "Time that the build was queued",
          "type": "string",
          "format": "date-time"
        },
        "reason": {
          "description": "Reason that the build was created",
          "enum": [
            "none",
            "manual",
            "individualCI",
            "batchedCI",
            "schedule",
            "userCreated",
            "validateShelveset",
            "checkInShelveset",
            "pullRequest",
            "triggered",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildReason"
          }
        },
        "repository": {
          "description": "The repository",
          "$ref": "#/definitions/BuildRepository"
        },
        "requestedBy": {
          "description": "The identity that queued the build",
          "$ref": "#/definitions/IdentityRef"
        },
        "requestedFor": {
          "description": "The identity on whose behalf the build was queued",
          "$ref": "#/definitions/IdentityRef"
        },
        "result": {
          "description": "The build result",
          "enum": [
            "none",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildResult"
          }
        },
        "retainedByRelease": {
          "description": "Specifies if Build should be retained by Release",
          "type": "boolean"
        },
        "sourceBranch": {
          "description": "Source branch",
          "type": "string"
        },
        "sourceVersion": {
          "description": "Source version",
          "type": "string"
        },
        "startTime": {
          "description": "Time that the build was started",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "Status of the build",
          "enum": [
            "none",
            "inProgress",
            "completed",
            "cancelling",
            "postponed",
            "notStarted",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildStatus"
          }
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggerInfo": {
          "description": "Sourceprovider-specific information about what triggered the build",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Uri of the build",
          "type": "string"
        },
        "url": {
          "description": "REST url of the build",
          "type": "string"
        },
        "validationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRequestValidationResult"
          }
        }
      }
    },
    "BuildAgent": {
      "description": "",
      "type": "object",
      "properties": {
        "buildDirectory": {
          "type": "string"
        },
        "controller": {
          "$ref": "#/definitions/XamlBuildControllerReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "messageQueueUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "reservedForBuild": {
          "type": "string"
        },
        "server": {
          "$ref": "#/definitions/XamlBuildServerReference"
        },
        "status": {
          "enum": [
            "unavailable",
            "available",
            "offline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.AgentStatus"
          }
        },
        "statusMessage": {
          "type": "string"
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time"
        },
        "uri": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "BuildAgentReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "BuildArtifact": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "The artifact id",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the artifact",
          "type": "string"
        },
        "resource": {
          "description": "The actual resource",
          "$ref": "#/definitions/ArtifactResource"
        }
      }
    },
    "BuildArtifactAddedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {
        "artifact": {
          "$ref": "#/definitions/BuildArtifact"
        }
      }
    },
    "BuildBadge": {
      "description": "Data representation of a build badge",
      "type": "object",
      "properties": {
        "buildId": {
          "description": "Build id, if exists that this badge corresponds to",
          "type": "integer",
          "format": "int32"
        },
        "imageUrl": {
          "description": "Self Url that generates SVG",
          "type": "string"
        }
      }
    },
    "BuildChangesCalculatedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {
        "changes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Change"
          }
        }
      }
    },
    "BuildCompletedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {}
    },
    "BuildController": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/XamlBuildControllerReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "createdDate": {
          "description": "The date the controller was created.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "The description of the controller.",
          "type": "string"
        },
        "enabled": {
          "description": "Indicates whether the controller is enabled.",
          "type": "boolean"
        },
        "status": {
          "description": "The status of the controller.",
          "enum": [
            "unavailable",
            "available",
            "offline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.ControllerStatus"
          }
        },
        "updatedDate": {
          "description": "The date the controller was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "uri": {
          "description": "The controller's URI.",
          "type": "string"
        }
      }
    },
    "BuildDefinition": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildDefinitionReference"
        }
      ],
      "properties": {
        "badgeEnabled": {
          "description": "Indicates whether badges are enabled for this definition",
          "type": "boolean"
        },
        "buildNumberFormat": {
          "description": "The build number format",
          "type": "string"
        },
        "comment": {
          "description": "The comment entered when saving the definition",
          "type": "string"
        },
        "demands": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "description": {
          "description": "The description",
          "type": "string"
        },
        "dropLocation": {
          "description": "The drop location for the definition",
          "type": "string"
        },
        "jobAuthorizationScope": {
          "description": "Gets or sets the job authorization scope for builds which are queued against this definition",
          "enum": [
            "projectCollection",
            "project"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope"
          }
        },
        "jobCancelTimeoutInMinutes": {
          "description": "Gets or sets the job cancel timeout in minutes for builds which are cancelled by user for this definition",
          "type": "integer",
          "format": "int32"
        },
        "jobTimeoutInMinutes": {
          "description": "Gets or sets the job execution timeout in minutes for builds which are queued against this definition",
          "type": "integer",
          "format": "int32"
        },
        "latestBuild": {
          "$ref": "#/definitions/Build"
        },
        "latestCompletedBuild": {
          "$ref": "#/definitions/Build"
        },
        "options": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildOption"
          }
        },
        "process": {
          "description": "The build process.",
          "$ref": "#/definitions/BuildProcess"
        },
        "processParameters": {
          "description": "Process Parameters",
          "$ref": "#/definitions/ProcessParameters"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "repository": {
          "description": "The repository",
          "$ref": "#/definitions/BuildRepository"
        },
        "retentionRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RetentionPolicy"
          }
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildTrigger"
          }
        },
        "variableGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/VariableGroup"
          }
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BuildDefinitionVariable"
          }
        }
      }
    },
    "BuildDefinition3_2": {
      "description": "For back-compat with extensions that use the old Steps format instead of Process and Phases",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildDefinitionReference"
        }
      ],
      "properties": {
        "badgeEnabled": {
          "description": "Indicates whether badges are enabled for this definition",
          "type": "boolean"
        },
        "build": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildDefinitionStep"
          }
        },
        "buildNumberFormat": {
          "description": "The build number format",
          "type": "string"
        },
        "comment": {
          "description": "The comment entered when saving the definition",
          "type": "string"
        },
        "demands": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "description": {
          "description": "The description",
          "type": "string"
        },
        "dropLocation": {
          "description": "The drop location for the definition",
          "type": "string"
        },
        "jobAuthorizationScope": {
          "description": "Gets or sets the job authorization scope for builds which are queued against this definition",
          "enum": [
            "projectCollection",
            "project"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope"
          }
        },
        "jobCancelTimeoutInMinutes": {
          "description": "Gets or sets the job cancel timeout in minutes for builds which are cancelled by user for this definition",
          "type": "integer",
          "format": "int32"
        },
        "jobTimeoutInMinutes": {
          "description": "Gets or sets the job execution timeout in minutes for builds which are queued against this definition",
          "type": "integer",
          "format": "int32"
        },
        "latestBuild": {
          "$ref": "#/definitions/Build"
        },
        "latestCompletedBuild": {
          "$ref": "#/definitions/Build"
        },
        "options": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildOption"
          }
        },
        "processParameters": {
          "description": "Process Parameters",
          "$ref": "#/definitions/ProcessParameters"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "repository": {
          "description": "The repository",
          "$ref": "#/definitions/BuildRepository"
        },
        "retentionRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RetentionPolicy"
          }
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildTrigger"
          }
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BuildDefinitionVariable"
          }
        }
      }
    },
    "BuildDefinitionChangedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "add",
            "update",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.AuditAction"
          }
        },
        "definition": {
          "$ref": "#/definitions/BuildDefinition"
        }
      }
    },
    "BuildDefinitionChangingEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "add",
            "update",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.AuditAction"
          }
        },
        "newDefinition": {
          "$ref": "#/definitions/BuildDefinition"
        },
        "originalDefinition": {
          "$ref": "#/definitions/BuildDefinition"
        }
      }
    },
    "BuildDefinitionReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefinitionReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "authoredBy": {
          "description": "The author of the definition.",
          "$ref": "#/definitions/IdentityRef"
        },
        "draftOf": {
          "description": "If this is a draft definition, it might have a parent",
          "$ref": "#/definitions/DefinitionReference"
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildMetric"
          }
        },
        "quality": {
          "description": "The quality of the definition document (draft, etc.)",
          "enum": [
            "definition",
            "draft"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.DefinitionQuality"
          }
        },
        "queue": {
          "description": "The default queue which should be used for requests.",
          "$ref": "#/definitions/AgentPoolQueue"
        }
      }
    },
    "BuildDefinitionRevision": {
      "description": "",
      "type": "object",
      "properties": {
        "changedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "changeType": {
          "enum": [
            "add",
            "update",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.AuditAction"
          }
        },
        "comment": {
          "type": "string"
        },
        "definitionUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildDefinitionSourceProvider": {
      "description": "",
      "type": "object",
      "properties": {
        "definitionUri": {
          "description": "Uri of the associated definition",
          "readOnly": true,
          "type": "string"
        },
        "fields": {
          "description": "fields associated with this build definition",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Id of this source provider",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "lastModified": {
          "description": "The lst time this source provider was modified",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Name of the source provider",
          "type": "string"
        },
        "supportedTriggerTypes": {
          "description": "Which trigger types are supported by this definition source provider",
          "enum": [
            "none",
            "continuousIntegration",
            "batchedContinuousIntegration",
            "schedule",
            "gatedCheckIn",
            "batchedGatedCheckIn",
            "pullRequest",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType"
          }
        }
      }
    },
    "BuildDefinitionStep": {
      "description": "",
      "type": "object",
      "properties": {
        "alwaysRun": {
          "type": "boolean"
        },
        "condition": {
          "type": "string"
        },
        "continueOnError": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "environment": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputs": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refName": {
          "type": "string"
        },
        "task": {
          "$ref": "#/definitions/TaskDefinitionReference"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildDefinitionTemplate": {
      "description": "",
      "type": "object",
      "properties": {
        "canDelete": {
          "type": "boolean"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icons": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iconTaskId": {
          "type": "string",
          "format": "uuid"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "template": {
          "$ref": "#/definitions/BuildDefinition"
        }
      }
    },
    "BuildDefinitionTemplate3_2": {
      "description": "For back-compat with extensions that use the old Steps format instead of Process and Phases",
      "type": "object",
      "properties": {
        "canDelete": {
          "type": "boolean"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icons": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iconTaskId": {
          "type": "string",
          "format": "uuid"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "template": {
          "$ref": "#/definitions/BuildDefinition3_2"
        }
      }
    },
    "BuildDefinitionVariable": {
      "description": "",
      "type": "object",
      "properties": {
        "allowOverride": {
          "type": "boolean"
        },
        "isSecret": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "BuildDeletedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimeBuildEvent"
        }
      ],
      "properties": {
        "build": {
          "$ref": "#/definitions/Build"
        }
      }
    },
    "BuildDeployment": {
      "description": "",
      "type": "object",
      "properties": {
        "deployment": {
          "$ref": "#/definitions/BuildSummary"
        },
        "sourceBuild": {
          "$ref": "#/definitions/XamlBuildReference"
        }
      }
    },
    "BuildDestroyedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimeBuildEvent"
        }
      ],
      "properties": {
        "build": {
          "$ref": "#/definitions/Build"
        }
      }
    },
    "BuildLog": {
      "description": "Represents a build log.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildLogReference"
        }
      ],
      "properties": {
        "createdOn": {
          "description": "The date the log was created.",
          "type": "string",
          "format": "date-time"
        },
        "lastChangedOn": {
          "description": "The date the log was last changed.",
          "type": "string",
          "format": "date-time"
        },
        "lineCount": {
          "description": "The number of lines in the log.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "BuildLogReference": {
      "description": "Data representation of a build log reference",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the log.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "The type of the log location.",
          "type": "string"
        },
        "url": {
          "description": "Full link to the log resource.",
          "type": "string"
        }
      }
    },
    "BuildMetric": {
      "description": "",
      "type": "object",
      "properties": {
        "date": {
          "description": "Scoped date of the metric",
          "type": "string",
          "format": "date-time"
        },
        "intValue": {
          "description": "The int value of the metric",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the metric",
          "type": "string"
        },
        "scope": {
          "description": "The scope of the metric",
          "type": "string"
        }
      }
    },
    "BuildOption": {
      "description": "",
      "type": "object",
      "properties": {
        "definition": {
          "$ref": "#/definitions/BuildOptionDefinitionReference"
        },
        "enabled": {
          "type": "boolean"
        },
        "inputs": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BuildOptionDefinition": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildOptionDefinitionReference"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "groups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildOptionGroupDefinition"
          }
        },
        "inputs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildOptionInputDefinition"
          }
        },
        "name": {
          "type": "string"
        },
        "ordinal": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildOptionDefinitionReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "BuildOptionGroupDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "isExpanded": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "BuildOptionInputDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "defaultValue": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "help": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "label": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "options": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "required": {
          "type": "boolean"
        },
        "type": {
          "enum": [
            "string",
            "boolean",
            "stringList",
            "radio",
            "pickList",
            "multiLine",
            "branchFilter"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildOptionInputType"
          }
        },
        "visibleRule": {
          "type": "string"
        }
      }
    },
    "BuildPollingSummaryEvent": {
      "description": "",
      "type": "object",
      "properties": {}
    },
    "BuildProcess": {
      "description": "",
      "type": "object",
      "properties": {
        "repositories": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BuildRepository"
          }
        },
        "type": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildProcessTemplate": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "fileExists": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "string"
        },
        "serverPath": {
          "type": "string"
        },
        "supportedReasons": {
          "enum": [
            "none",
            "manual",
            "individualCI",
            "batchedCI",
            "schedule",
            "userCreated",
            "validateShelveset",
            "checkInShelveset",
            "pullRequest",
            "triggered",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildReason"
          }
        },
        "teamProject": {
          "type": "string"
        },
        "templateType": {
          "enum": [
            "custom",
            "default",
            "upgrade"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.ProcessTemplateType"
          }
        },
        "url": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "BuildQueuedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {}
    },
    "BuildReference": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "buildNumber": {
          "description": "Build number/name of the build",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates whether the build has been deleted.",
          "type": "boolean"
        },
        "finishTime": {
          "description": "Time that the build was completed",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Id of the build",
          "type": "integer",
          "format": "int32"
        },
        "queueTime": {
          "description": "Time that the build was queued",
          "type": "string",
          "format": "date-time"
        },
        "requestedFor": {
          "description": "The identity on whose behalf the build was queued",
          "$ref": "#/definitions/IdentityRef"
        },
        "result": {
          "description": "The build result",
          "enum": [
            "none",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildResult"
          }
        },
        "startTime": {
          "description": "Time that the build was started",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "Status of the build",
          "enum": [
            "none",
            "inProgress",
            "completed",
            "cancelling",
            "postponed",
            "notStarted",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildStatus"
          }
        }
      }
    },
    "BuildReportMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "buildId": {
          "type": "integer",
          "format": "int32"
        },
        "content": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "BuildRepository": {
      "description": "",
      "type": "object",
      "properties": {
        "checkoutSubmodules": {
          "type": "boolean"
        },
        "clean": {
          "description": "Indicates whether to clean the target folder when getting code from the repository. This is a String so that it can reference variables.",
          "type": "string"
        },
        "defaultBranch": {
          "description": "Gets or sets the name of the default branch.",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the friendly name of the repository.",
          "type": "string"
        },
        "properties": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rootFolder": {
          "description": "Gets or sets the root folder.",
          "type": "string"
        },
        "type": {
          "description": "Gets or sets the type of the repository.",
          "type": "string"
        },
        "url": {
          "description": "Gets or sets the url of the repository.",
          "type": "string"
        }
      }
    },
    "BuildRequestValidationResult": {
      "description": "",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "result": {
          "enum": [
            "oK",
            "warning",
            "error"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.ValidationResult"
          }
        }
      }
    },
    "BuildResourceUsage": {
      "description": "",
      "type": "object",
      "properties": {
        "distributedTaskAgents": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "paidPrivateAgentSlots": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalUsage": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "xamlControllers": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildServer": {
      "description": "",
      "type": "object",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildAgentReference"
          }
        },
        "controller": {
          "$ref": "#/definitions/XamlBuildControllerReference"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "isVirtual": {
          "type": "boolean"
        },
        "messageQueueUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "requireClientCertificates": {
          "type": "boolean"
        },
        "status": {
          "enum": [
            "online",
            "offline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.ServiceHostStatus"
          }
        },
        "statusChangedDate": {
          "type": "string",
          "format": "date-time"
        },
        "uri": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BuildSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "daysToKeepDeletedBuildsBeforeDestroy": {
          "type": "integer",
          "format": "int32"
        },
        "defaultRetentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy"
        },
        "maximumRetentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy"
        }
      }
    },
    "BuildStartedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {}
    },
    "BuildSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "build": {
          "$ref": "#/definitions/XamlBuildReference"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time"
        },
        "keepForever": {
          "type": "boolean"
        },
        "quality": {
          "type": "string"
        },
        "reason": {
          "enum": [
            "none",
            "manual",
            "individualCI",
            "batchedCI",
            "schedule",
            "userCreated",
            "validateShelveset",
            "checkInShelveset",
            "pullRequest",
            "triggered",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildReason"
          }
        },
        "requestedFor": {
          "$ref": "#/definitions/IdentityRef"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "enum": [
            "none",
            "inProgress",
            "completed",
            "cancelling",
            "postponed",
            "notStarted",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildStatus"
          }
        }
      }
    },
    "BuildTrigger": {
      "description": "",
      "type": "object",
      "properties": {
        "triggerType": {
          "readOnly": true,
          "enum": [
            "none",
            "continuousIntegration",
            "batchedContinuousIntegration",
            "schedule",
            "gatedCheckIn",
            "batchedGatedCheckIn",
            "pullRequest",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType"
          }
        }
      }
    },
    "BuildUpdatedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimeBuildEvent"
        }
      ],
      "properties": {
        "build": {
          "$ref": "#/definitions/Build"
        }
      }
    },
    "BuildWorkspace": {
      "description": "",
      "type": "object",
      "properties": {
        "mappings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MappingDetails"
          }
        }
      }
    },
    "Change": {
      "description": "Represents a change associated with a build.",
      "type": "object",
      "properties": {
        "author": {
          "description": "The author of the change.",
          "$ref": "#/definitions/IdentityRef"
        },
        "displayUri": {
          "description": "The location of a user-friendly representation of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Something that identifies the change. For a commit, this would be the SHA1. For a TFVC changeset, this would be the changeset id.",
          "type": "string"
        },
        "location": {
          "description": "The location of the full representation of the resource.",
          "type": "string"
        },
        "message": {
          "description": "A description of the change. This might be a commit message or changeset description.",
          "type": "string"
        },
        "messageTruncated": {
          "description": "Indicates whether the message was truncated",
          "type": "boolean"
        },
        "timestamp": {
          "description": "A timestamp for the change.",
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "description": "The type of change. \"commit\", \"changeset\", etc.",
          "type": "string"
        }
      }
    },
    "ConsoleLogEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimeBuildEvent"
        }
      ],
      "properties": {
        "lines": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timelineId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "timelineRecordId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ContinuousDeploymentDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "connectedService": {
          "description": "The connected service associated with the continuous deployment",
          "$ref": "#/definitions/WebApiConnectedServiceRef"
        },
        "definition": {
          "description": "The definition associated with the continuous deployment",
          "$ref": "#/definitions/XamlDefinitionReference"
        },
        "gitBranch": {
          "type": "string"
        },
        "hostedServiceName": {
          "type": "string"
        },
        "project": {
          "$ref": "#/definitions/TeamProjectReference"
        },
        "repositoryId": {
          "type": "string"
        },
        "storageAccountName": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "webspace": {
          "type": "string"
        }
      }
    },
    "ContinuousIntegrationTrigger": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildTrigger"
        }
      ],
      "properties": {
        "batchChanges": {
          "type": "boolean"
        },
        "branchFilters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxConcurrentBuildsPerBranch": {
          "type": "integer",
          "format": "int32"
        },
        "pathFilters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pollingInterval": {
          "description": "The polling interval in seconds.",
          "type": "integer",
          "format": "int32"
        },
        "pollingJobId": {
          "description": "This is the id of the polling job that polls the external repository.  Once the build definition is saved/updated, this value is set.",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "DataSourceBindingBase": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceName": {
          "type": "string"
        },
        "endpointId": {
          "type": "string"
        },
        "endpointUrl": {
          "type": "string"
        },
        "parameters": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resultSelector": {
          "type": "string"
        },
        "resultTemplate": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "DefinitionReference": {
      "description": "A reference to a definition.",
      "type": "object",
      "properties": {
        "createdDate": {
          "description": "The date the definition was created",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "path": {
          "description": "The path this definitions belongs to",
          "type": "string"
        },
        "project": {
          "description": "The project.",
          "$ref": "#/definitions/TeamProjectReference"
        },
        "queueStatus": {
          "description": "If builds can be queued from this definition",
          "enum": [
            "enabled",
            "paused",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.DefinitionQueueStatus"
          }
        },
        "revision": {
          "description": "The definition revision number.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "The type of the definition.",
          "enum": [
            "xaml",
            "build"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.DefinitionType"
          }
        },
        "uri": {
          "description": "The Uri of the definition",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "Demand": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Dependency": {
      "description": "",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "Deployment": {
      "description": "Represents the data from the build information nodes for type \"DeploymentInformation\" for xaml builds",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      }
    },
    "DeploymentBuild": {
      "description": "Deployment information for type \"Build\"",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Deployment"
        }
      ],
      "properties": {
        "buildId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeploymentDeploy": {
      "description": "Deployment information for type \"Deploy\"",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Deployment"
        }
      ],
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "DeploymentTest": {
      "description": "Deployment information for type \"Test\"",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Deployment"
        }
      ],
      "properties": {
        "runId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DesignerProcess": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildProcess"
        }
      ],
      "properties": {
        "phases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Phase"
          }
        }
      }
    },
    "Folder": {
      "description": "",
      "type": "object",
      "properties": {
        "createdBy": {
          "description": "Process or person who created the folder",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "description": "Creation date of the folder",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "The description of the folder",
          "type": "string"
        },
        "lastChangedBy": {
          "description": "Process or person that last changed the folder",
          "$ref": "#/definitions/IdentityRef"
        },
        "lastChangedDate": {
          "description": "Date the folder was last changed",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "path": {
          "description": "The path of the folder",
          "type": "string"
        },
        "project": {
          "description": "The project.",
          "$ref": "#/definitions/TeamProjectReference"
        }
      }
    },
    "GatedCheckInTrigger": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildTrigger"
        }
      ],
      "properties": {
        "pathFilters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runContinuousIntegration": {
          "type": "boolean"
        },
        "useWorkspaceMappings": {
          "type": "boolean"
        }
      }
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "InformationNode": {
      "description": "Data representation of an information node associated with a build",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Fields of the information node",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastModifiedBy": {
          "description": "Process or person that last modified this node",
          "type": "string"
        },
        "lastModifiedDate": {
          "description": "Date this node was last modified",
          "type": "string",
          "format": "date-time"
        },
        "nodeId": {
          "description": "Node Id of this information node",
          "type": "integer",
          "format": "int32"
        },
        "parentId": {
          "description": "Id of parent node (xml tree)",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "The type of the information node",
          "type": "string"
        }
      }
    },
    "Issue": {
      "description": "",
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "type": "string"
        },
        "type": {
          "enum": [
            "error",
            "warning"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.IssueType"
          }
        }
      }
    },
    "JsonPatchDocument": {
      "description": "The JSON model for JSON Patch Operations",
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {}
        }
      ],
      "properties": {}
    },
    "JsonPatchOperation": {
      "description": "The JSON model for a JSON Patch operation",
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "MappingDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "localPath": {
          "type": "string"
        },
        "mappingType": {
          "type": "string"
        },
        "serverPath": {
          "type": "string"
        }
      }
    },
    "MultipleAgentExecutionOptions": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AgentTargetExecutionOptions"
        }
      ],
      "properties": {
        "maxConcurrency": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Phase": {
      "description": "",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "dependencies": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          }
        },
        "jobAuthorizationScope": {
          "description": "Gets or sets the job authorization scope for builds which are queued against this definition",
          "enum": [
            "projectCollection",
            "project"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildAuthorizationScope"
          }
        },
        "jobCancelTimeoutInMinutes": {
          "description": "Gets or sets the job cancel timeout in minutes for builds which are cancelled by user for this definition",
          "type": "integer",
          "format": "int32"
        },
        "jobTimeoutInMinutes": {
          "description": "Gets or sets the job execution timeout in minutes for builds which are queued against this definition",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the phase.",
          "type": "string"
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildDefinitionStep"
          }
        },
        "target": {
          "$ref": "#/definitions/PhaseTarget"
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BuildDefinitionVariable"
          }
        }
      }
    },
    "PhaseTarget": {
      "description": "",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProcessParameters": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceBindings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSourceBindingBase"
          }
        },
        "inputs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInputDefinitionBase"
          }
        },
        "sourceDefinitions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskSourceDefinitionBase"
          }
        }
      }
    },
    "PropertiesCollection": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of properties in the collection.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "item": {
          "type": "object"
        },
        "keys": {
          "description": "The set of keys in the collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "description": "The set of values in the collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PullRequestTrigger": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildTrigger"
        }
      ],
      "properties": {
        "branchFilters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RealtimeBuildEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "buildId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.  Example: `{ self: { href: \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "ResourceRef": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "RetentionPolicy": {
      "description": "",
      "type": "object",
      "properties": {
        "artifacts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "artifactTypesToDelete": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "branches": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "daysToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "deleteBuildRecord": {
          "type": "boolean"
        },
        "deleteTestResults": {
          "type": "boolean"
        },
        "minimumToKeep": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Schedule": {
      "description": "",
      "type": "object",
      "properties": {
        "branchFilters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "daysToBuild": {
          "description": "Days for a build (flags enum for days of the week)",
          "enum": [
            "none",
            "monday",
            "tuesday",
            "wednesday",
            "thursday",
            "friday",
            "saturday",
            "sunday",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.ScheduleDays"
          }
        },
        "scheduleJobId": {
          "description": "The Job Id of the Scheduled job that will queue the scheduled build. Since a single trigger can have multiple schedules and we want a single job to process a single schedule (since each schedule has a list of branches to build), the schedule itself needs to define the Job Id. This value will be filled in when a definition is added or updated.  The UI does not provide it or use it.",
          "type": "string",
          "format": "uuid"
        },
        "startHours": {
          "description": "Local timezone hour to start",
          "type": "integer",
          "format": "int32"
        },
        "startMinutes": {
          "description": "Local timezone minute to start",
          "type": "integer",
          "format": "int32"
        },
        "timeZoneId": {
          "description": "Time zone of the build schedule (string representation of the time zone id)",
          "type": "string"
        }
      }
    },
    "ScheduleTrigger": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildTrigger"
        }
      ],
      "properties": {
        "schedules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schedule"
          }
        }
      }
    },
    "ServerTarget": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PhaseTarget"
        }
      ],
      "properties": {
        "executionOptions": {
          "description": "The execution options.",
          "$ref": "#/definitions/ServerTargetExecutionOptions"
        }
      }
    },
    "ServerTargetExecutionOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SvnMappingDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "depth": {
          "type": "integer",
          "format": "int32"
        },
        "ignoreExternals": {
          "type": "boolean"
        },
        "localPath": {
          "type": "string"
        },
        "revision": {
          "type": "string"
        },
        "serverPath": {
          "type": "string"
        }
      }
    },
    "SvnWorkspace": {
      "description": "",
      "type": "object",
      "properties": {
        "mappings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SvnMappingDetails"
          }
        }
      }
    },
    "SyncBuildCompletedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {}
    },
    "SyncBuildStartedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildUpdatedEvent"
        }
      ],
      "properties": {}
    },
    "TaskAgentPoolReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "isHosted": {
          "description": "Gets or sets a value indicating whether or not this pool is managed by the service.",
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "TaskDefinitionReference": {
      "description": "",
      "type": "object",
      "properties": {
        "definitionType": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "versionSpec": {
          "type": "string"
        }
      }
    },
    "TaskInputDefinitionBase": {
      "description": "",
      "type": "object",
      "properties": {
        "defaultValue": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "helpMarkDown": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "options": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "required": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "validation": {
          "$ref": "#/definitions/TaskInputValidation"
        },
        "visibleRule": {
          "type": "string"
        }
      }
    },
    "TaskInputValidation": {
      "description": "",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Conditional expression",
          "type": "string"
        },
        "message": {
          "description": "Message explaining how user can correct if validation fails",
          "type": "string"
        }
      }
    },
    "TaskOrchestrationPlanGroupReference": {
      "description": "",
      "type": "object",
      "properties": {
        "planGroup": {
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TaskOrchestrationPlanGroupsStartedEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "planGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskOrchestrationPlanGroupReference"
          }
        }
      }
    },
    "TaskOrchestrationPlanReference": {
      "description": "",
      "type": "object",
      "properties": {
        "orchestrationType": {
          "description": "Orchestration Type for Build (build, cleanup etc.)",
          "type": "integer",
          "format": "int32"
        },
        "planId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TaskReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "TaskSourceDefinitionBase": {
      "description": "",
      "type": "object",
      "properties": {
        "authKey": {
          "type": "string"
        },
        "endpoint": {
          "type": "string"
        },
        "keySelector": {
          "type": "string"
        },
        "selector": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "TeamProjectReference": {
      "description": "Represents a shallow reference to a TeamProject.",
      "type": "object",
      "properties": {
        "abbreviation": {
          "description": "Project abbreviation.",
          "type": "string"
        },
        "description": {
          "description": "The project's description (if any).",
          "type": "string"
        },
        "id": {
          "description": "Project identifier.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Project name.",
          "type": "string"
        },
        "revision": {
          "description": "Project revision.",
          "type": "integer",
          "format": "int64"
        },
        "state": {
          "description": "Project state.",
          "enum": [
            "deleting",
            "new",
            "wellFormed",
            "createPending",
            "all",
            "unchanged",
            "deleted"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectState"
          }
        },
        "url": {
          "description": "Url to the full version of the object.",
          "type": "string"
        },
        "visibility": {
          "description": "Project visibility.",
          "enum": [
            "unchanged",
            "private",
            "organization",
            "public"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility"
          }
        }
      }
    },
    "Timeline": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TimelineReference"
        }
      ],
      "properties": {
        "lastChangedBy": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "lastChangedOn": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "records": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimelineRecord"
          }
        }
      }
    },
    "TimelineRecord": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "changeId": {
          "type": "integer",
          "format": "int32"
        },
        "currentOperation": {
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/TimelineReference"
        },
        "errorCount": {
          "type": "integer",
          "format": "int32"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "issues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Issue"
          }
        },
        "lastModified": {
          "type": "string",
          "format": "date-time"
        },
        "log": {
          "$ref": "#/definitions/BuildLogReference"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "parentId": {
          "type": "string",
          "format": "uuid"
        },
        "percentComplete": {
          "type": "integer",
          "format": "int32"
        },
        "result": {
          "enum": [
            "succeeded",
            "succeededWithIssues",
            "failed",
            "canceled",
            "skipped",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.TaskResult"
          }
        },
        "resultCode": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "enum": [
            "pending",
            "inProgress",
            "completed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.TimelineRecordState"
          }
        },
        "task": {
          "$ref": "#/definitions/TaskReference"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "warningCount": {
          "type": "integer",
          "format": "int32"
        },
        "workerName": {
          "type": "string"
        }
      }
    },
    "TimelineRecordsUpdatedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimeBuildEvent"
        }
      ],
      "properties": {
        "timelineRecords": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimelineRecord"
          }
        }
      }
    },
    "TimelineReference": {
      "description": "",
      "type": "object",
      "properties": {
        "changeId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "VariableGroup": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VariableGroupReference"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/BuildDefinitionVariable"
          }
        }
      }
    },
    "VariableGroupReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VariableMultipliersAgentExecutionOptions": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AgentTargetExecutionOptions"
        }
      ],
      "properties": {
        "maxConcurrency": {
          "type": "integer",
          "format": "int32"
        },
        "multipliers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VariableMultipliersServerExecutionOptions": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ServerTargetExecutionOptions"
        }
      ],
      "properties": {
        "maxConcurrency": {
          "type": "integer",
          "format": "int32"
        },
        "multipliers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WebApiConnectedServiceRef": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkspaceMapping": {
      "description": "Mapping for a workspace",
      "type": "object",
      "properties": {
        "definitionUri": {
          "description": "Uri of the associated definition",
          "readOnly": true,
          "type": "string"
        },
        "depth": {
          "description": "Depth of this mapping",
          "type": "integer",
          "format": "int32"
        },
        "localItem": {
          "description": "local location of the definition",
          "type": "string"
        },
        "mappingType": {
          "description": "type of workspace mapping",
          "enum": [
            "map",
            "cloak"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.WorkspaceMappingType"
          }
        },
        "serverItem": {
          "description": "Server location of the definition",
          "type": "string"
        },
        "workspaceId": {
          "description": "Id of the workspace",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WorkspaceTemplate": {
      "description": "",
      "type": "object",
      "properties": {
        "definitionUri": {
          "description": "Uri of the associated definition",
          "type": "string"
        },
        "lastModifiedBy": {
          "description": "The identity that last modified this template",
          "type": "string"
        },
        "lastModifiedDate": {
          "description": "The last time this template was modified",
          "type": "string",
          "format": "date-time"
        },
        "mappings": {
          "description": "List of workspace mappings",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkspaceMapping"
          }
        },
        "workspaceId": {
          "description": "Id of the workspace for this template",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "XamlBuildControllerReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "XamlBuildDefinition": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefinitionReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "batchSize": {
          "description": "Batch size of the definition",
          "type": "integer",
          "format": "int32"
        },
        "buildArgs": {
          "type": "string"
        },
        "continuousIntegrationQuietPeriod": {
          "description": "The continuous integration quiet period",
          "type": "integer",
          "format": "int32"
        },
        "controller": {
          "description": "The build controller",
          "$ref": "#/definitions/BuildController"
        },
        "createdOn": {
          "description": "The date this definition was created",
          "type": "string",
          "format": "date-time"
        },
        "defaultDropLocation": {
          "description": "Default drop location for builds from this definition",
          "type": "string"
        },
        "description": {
          "description": "Description of the definition",
          "type": "string"
        },
        "lastBuild": {
          "description": "The last build on this definition",
          "$ref": "#/definitions/XamlBuildReference"
        },
        "repository": {
          "description": "The repository",
          "$ref": "#/definitions/BuildRepository"
        },
        "supportedReasons": {
          "description": "The reasons supported by the template",
          "enum": [
            "none",
            "manual",
            "individualCI",
            "batchedCI",
            "schedule",
            "userCreated",
            "validateShelveset",
            "checkInShelveset",
            "pullRequest",
            "triggered",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildReason"
          }
        },
        "triggerType": {
          "description": "How builds are triggered from this definition",
          "enum": [
            "none",
            "continuousIntegration",
            "batchedContinuousIntegration",
            "schedule",
            "gatedCheckIn",
            "batchedGatedCheckIn",
            "pullRequest",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.DefinitionTriggerType"
          }
        }
      }
    },
    "XamlBuildReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "XamlBuildServerReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "XamlDefinitionReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "YamlProcess": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildProcess"
        }
      ],
      "properties": {
        "yamlFilename": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
    },
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.build": "Grants the ability to access build artifacts, including build results, definitions, and requests, and the ability to receive notifications about build events via service hooks.",
        "vso.build_execute": "Grants the ability to access build artifacts, including build results, definitions, and requests, and the ability to queue a build, update build properties, and the ability to receive notifications about build events via service hooks."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  },
  "x-internal-service-name": "Build",
  "x-internal-toc-name": "Tags",
  "x-internal-split-type": "Operation"
}