{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTracking",
  "x-ms-vss-resource-area-id": "5264459e-e5e0-4bd8-b118-0985e68a4ec5",
  "basePath": "/",
  "tags": [
    {
      "name": "artifactLinkTypes"
    },
    {
      "name": "artifactUriQuery"
    },
    {
      "name": "attachments"
    },
    {
      "name": "classificationNodes"
    },
    {
      "name": "comments"
    },
    {
      "name": "fields"
    },
    {
      "name": "queries"
    },
    {
      "name": "recyclebin"
    },
    {
      "name": "revisions"
    },
    {
      "name": "templates"
    },
    {
      "name": "updates"
    },
    {
      "name": "wiql"
    },
    {
      "name": "workItemIcons"
    },
    {
      "name": "workItemLinks"
    },
    {
      "name": "workItemRelationTypes"
    },
    {
      "name": "workItemRevisions"
    },
    {
      "name": "workItems"
    },
    {
      "name": "workItemTypeCategories"
    },
    {
      "name": "workItemTypes"
    },
    {
      "name": "workItemTypesField"
    },
    {
      "name": "workItemTypeStates"
    },
    {
      "name": "workItemTypeTemplate"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/wit/workitemtypes/{type}": {
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemType",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "WorkItemTypes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-internal-toc-name": "Work Item Get Get Get"
      }
    }
  },
  "definitions": {
    "AccountMyWorkResult": {
      "description": "",
      "type": "object",
      "properties": {
        "querySizeLimitExceeded": {
          "description": "True, when length of WorkItemDetails is same as the limit",
          "type": "boolean"
        },
        "workItemDetails": {
          "description": "WorkItem Details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountWorkWorkItemModel"
          }
        }
      }
    },
    "AccountRecentActivityWorkItemModel": {
      "description": "Represents Work Item Recent Activity",
      "type": "object",
      "properties": {
        "activityDate": {
          "description": "Date of the last Activity by the user",
          "type": "string",
          "format": "date-time"
        },
        "activityType": {
          "description": "Type of the activity",
          "enum": [
            "visited",
            "edited",
            "deleted",
            "restored"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.WorkItemRecentActivityType"
          }
        },
        "assignedTo": {
          "description": "Assigned To",
          "type": "string"
        },
        "changedDate": {
          "description": "Last changed date of the work item",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Work Item Id",
          "type": "integer",
          "format": "int32"
        },
        "identityId": {
          "description": "TeamFoundationId of the user this activity belongs to",
          "type": "string",
          "format": "uuid"
        },
        "state": {
          "description": "State of the work item",
          "type": "string"
        },
        "teamProject": {
          "description": "Team project the work item belongs to",
          "type": "string"
        },
        "title": {
          "description": "Title of the work item",
          "type": "string"
        },
        "workItemType": {
          "description": "Type of Work Item",
          "type": "string"
        }
      }
    },
    "AccountRecentMentionWorkItemModel": {
      "description": "Represents Recent Mention Work Item",
      "type": "object",
      "properties": {
        "assignedTo": {
          "description": "Assigned To",
          "type": "string"
        },
        "id": {
          "description": "Work Item Id",
          "type": "integer",
          "format": "int32"
        },
        "mentionedDateField": {
          "description": "Lastest date that the user were mentioned",
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "description": "State of the work item",
          "type": "string"
        },
        "teamProject": {
          "description": "Team project the work item belongs to",
          "type": "string"
        },
        "title": {
          "description": "Title of the work item",
          "type": "string"
        },
        "workItemType": {
          "description": "Type of Work Item",
          "type": "string"
        }
      }
    },
    "AccountWorkWorkItemModel": {
      "description": "",
      "type": "object",
      "properties": {
        "assignedTo": {
          "type": "string"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string"
        },
        "teamProject": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "workItemType": {
          "type": "string"
        }
      }
    },
    "ArtifactUriQuery": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArtifactUriQueryResult": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactUrisQueryResult": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        }
      }
    },
    "AttachmentReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldDependentRule": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "dependentFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        }
      }
    },
    "FieldsToEvaluate": {
      "description": "",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldUpdates": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "fieldValues": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "rulesFrom": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "IdentityReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/IdentityRef"
        }
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Legacy back-compat property. This has been the WIT specific value from Constants. Will be hidden (but exists) on the client unless they are targeting the newest version",
          "type": "string"
        }
      }
    },
    "JsonPatchDocument": {
      "description": "The JSON model for JSON Patch Operations",
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {}
        }
      ],
      "properties": {}
    },
    "JsonPatchOperation": {
      "description": "The JSON model for a JSON Patch operation",
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "Link": {
      "description": "",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "rel": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ProjectWorkItemStateColors": {
      "description": "Project work item type state colors",
      "type": "object",
      "properties": {
        "projectName": {
          "description": "Project name",
          "readOnly": true,
          "type": "string"
        },
        "workItemTypeStateColors": {
          "description": "State colors for all work item type in a project",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeStateColors"
          }
        }
      }
    },
    "ProvisioningResult": {
      "description": "",
      "type": "object",
      "properties": {
        "provisioningImportEvents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryHierarchyItem": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryHierarchyItem"
          }
        },
        "clauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "filterOptions": {
          "enum": [
            "workItems",
            "linksOneHopMustContain",
            "linksOneHopMayContain",
            "linksOneHopDoesNotContain",
            "linksRecursiveMustContain",
            "linksRecursiveMayContain",
            "linksRecursiveDoesNotContain"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.LinkQueryMode"
          }
        },
        "hasChildren": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isFolder": {
          "type": "boolean"
        },
        "isInvalidSyntax": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time"
        },
        "linkClauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "queryType": {
          "enum": [
            "flat",
            "tree",
            "oneHop"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.QueryType"
          }
        },
        "sortColumns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemQuerySortColumn"
          }
        },
        "sourceClauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "targetClauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "wiql": {
          "type": "string"
        }
      }
    },
    "QueryHierarchyItemsResult": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "hasMore": {
          "type": "boolean"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryHierarchyItem"
          }
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.  Example: `{ self: { href: \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "ReportingWorkItemLink": {
      "description": "",
      "type": "object",
      "properties": {
        "changedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "changedOperation": {
          "enum": [
            "create",
            "remove"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.LinkChangeType"
          }
        },
        "comment": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "linkType": {
          "type": "string"
        },
        "rel": {
          "type": "string"
        },
        "sourceId": {
          "type": "integer",
          "format": "int32"
        },
        "targetId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReportingWorkItemLinksBatch": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "StreamedBatch"
        }
      ],
      "properties": {}
    },
    "ReportingWorkItemRevisionsBatch": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "StreamedBatch"
        }
      ],
      "properties": {}
    },
    "ReportingWorkItemRevisionsFilter": {
      "description": "",
      "type": "object",
      "properties": {
        "fields": {
          "description": "A list of fields to return in work item revisions. Omit this parameter to get all reportable fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeDeleted": {
          "description": "Include deleted work item in the result.",
          "type": "boolean"
        },
        "includeIdentityRef": {
          "description": "Return an identity reference instead of a string value for identity fields.",
          "type": "boolean"
        },
        "includeLatestOnly": {
          "description": "Include only the latest version of a work item, skipping over all previous revisions of the work item.",
          "type": "boolean"
        },
        "includeTagRef": {
          "description": "Include tag reference instead of string value for System.Tags field",
          "type": "boolean"
        },
        "types": {
          "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item revisions of all work item types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StreamedBatch": {
      "description": "",
      "type": "object",
      "properties": {
        "continuationToken": {
          "type": "string"
        },
        "isLastBatch": {
          "type": "boolean"
        },
        "nextLink": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "T"
          }
        }
      }
    },
    "TeamContext": {
      "description": "The Team Context for an operation.",
      "type": "object",
      "properties": {
        "project": {
          "description": "The team project Id or name.  Ignored if ProjectId is set.",
          "type": "string"
        },
        "projectId": {
          "description": "The Team Project ID.  Required if Project is not set.",
          "type": "string",
          "format": "uuid"
        },
        "team": {
          "description": "The Team Id or name.  Ignored if TeamId is set.",
          "type": "string"
        },
        "teamId": {
          "description": "The Team Id",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Wiql": {
      "description": "",
      "type": "object",
      "properties": {
        "query": {
          "type": "string"
        }
      }
    },
    "WorkArtifactLink": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactType": {
          "type": "string"
        },
        "linkType": {
          "type": "string"
        },
        "toolType": {
          "type": "string"
        }
      }
    },
    "WorkItem": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "relations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemRelation"
          }
        },
        "rev": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WorkItemClassificationNode": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemClassificationNode"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "identifier": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "structureType": {
          "enum": [
            "area",
            "iteration"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.TreeNodeStructureType"
          }
        }
      }
    },
    "WorkItemComment": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "revisedBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "revisedDate": {
          "type": "string",
          "format": "date-time"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "WorkItemComments": {
      "description": "",
      "type": "object",
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemComment"
          }
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "fromRevisionCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WorkItemDelete": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemDeleteReference"
        }
      ],
      "properties": {
        "resource": {
          "$ref": "#/definitions/WorkItem"
        }
      }
    },
    "WorkItemDeleteReference": {
      "description": "",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "deletedBy": {
          "type": "string"
        },
        "deletedDate": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemDeleteShallowReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemDeleteUpdate": {
      "description": "",
      "type": "object",
      "properties": {
        "isDeleted": {
          "type": "boolean"
        }
      }
    },
    "WorkItemField": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "isIdentity": {
          "type": "boolean"
        },
        "isPicklist": {
          "type": "boolean"
        },
        "isPicklistSuggested": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "readOnly": {
          "type": "boolean"
        },
        "referenceName": {
          "type": "string"
        },
        "supportedOperations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldOperation"
          }
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistString",
            "picklistInteger",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.FieldType"
          }
        }
      }
    },
    "WorkItemFieldOperation": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "referenceName": {
          "type": "string"
        }
      }
    },
    "WorkItemFieldReference": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "referenceName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemFieldUpdate": {
      "description": "",
      "type": "object",
      "properties": {
        "newValue": {
          "type": "object"
        },
        "oldValue": {
          "type": "object"
        }
      }
    },
    "WorkItemHistory": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "rev": {
          "type": "integer",
          "format": "int32"
        },
        "revisedBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "revisedDate": {
          "type": "string",
          "format": "date-time"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "WorkItemIcon": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemLink": {
      "description": "",
      "type": "object",
      "properties": {
        "rel": {
          "type": "string"
        },
        "source": {
          "$ref": "#/definitions/WorkItemReference"
        },
        "target": {
          "$ref": "#/definitions/WorkItemReference"
        }
      }
    },
    "WorkItemQueryClause": {
      "description": "",
      "type": "object",
      "properties": {
        "clauses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemQueryClause"
          }
        },
        "field": {
          "$ref": "#/definitions/WorkItemFieldReference"
        },
        "fieldValue": {
          "$ref": "#/definitions/WorkItemFieldReference"
        },
        "isFieldValue": {
          "type": "boolean"
        },
        "logicalOperator": {
          "enum": [
            "nONE",
            "aND",
            "oR"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.LogicalOperation"
          }
        },
        "operator": {
          "$ref": "#/definitions/WorkItemFieldOperation"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "WorkItemQueryResult": {
      "description": "",
      "type": "object",
      "properties": {
        "asOf": {
          "type": "string",
          "format": "date-time"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        },
        "queryResultType": {
          "enum": [
            "workItem",
            "workItemLink"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.QueryResultType"
          }
        },
        "queryType": {
          "enum": [
            "flat",
            "tree",
            "oneHop"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.QueryType"
          }
        },
        "sortColumns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemQuerySortColumn"
          }
        },
        "workItemRelations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemLink"
          }
        },
        "workItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemReference"
          }
        }
      }
    },
    "WorkItemQuerySortColumn": {
      "description": "",
      "type": "object",
      "properties": {
        "descending": {
          "type": "boolean"
        },
        "field": {
          "$ref": "#/definitions/WorkItemFieldReference"
        }
      }
    },
    "WorkItemReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemRelation": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Link"
        }
      ],
      "properties": {}
    },
    "WorkItemRelationType": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingReference"
        }
      ],
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "WorkItemRelationUpdates": {
      "description": "",
      "type": "object",
      "properties": {
        "added": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemRelation"
          }
        },
        "removed": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemRelation"
          }
        },
        "updated": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemRelation"
          }
        }
      }
    },
    "WorkItemStateColor": {
      "description": "Work item type state name and color pair",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color value",
          "type": "string"
        },
        "name": {
          "description": "Work item type state name",
          "type": "string"
        }
      }
    },
    "WorkItemStateTransition": {
      "description": "",
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "to": {
          "type": "string"
        }
      }
    },
    "WorkItemTemplate": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTemplateReference"
        }
      ],
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WorkItemTemplateReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "workItemTypeName": {
          "type": "string"
        }
      }
    },
    "WorkItemTrackingReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "referenceName": {
          "type": "string"
        }
      }
    },
    "WorkItemTrackingResource": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResourceReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        }
      }
    },
    "WorkItemTrackingResourceReference": {
      "description": "",
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemType": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fieldInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeFieldInstance"
          }
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeFieldInstance"
          }
        },
        "icon": {
          "$ref": "#/definitions/WorkItemIcon"
        },
        "name": {
          "type": "string"
        },
        "transitions": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        },
        "xmlForm": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeCategory": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "defaultWorkItemType": {
          "$ref": "#/definitions/WorkItemTypeReference"
        },
        "name": {
          "type": "string"
        },
        "referenceName": {
          "type": "string"
        },
        "workItemTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeReference"
          }
        }
      }
    },
    "WorkItemTypeColor": {
      "description": "",
      "type": "object",
      "properties": {
        "primaryColor": {
          "type": "string"
        },
        "secondaryColor": {
          "type": "string"
        },
        "workItemTypeName": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeColorAndIcon": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "workItemTypeName": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeFieldInstance": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemFieldReference"
        }
      ],
      "properties": {
        "alwaysRequired": {
          "type": "boolean"
        },
        "field": {
          "$ref": "#/definitions/WorkItemFieldReference"
        },
        "helpText": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResourceReference"
        }
      ],
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeStateColors": {
      "description": "State colors for a work item type",
      "type": "object",
      "properties": {
        "stateColors": {
          "description": "Work item type state colors",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemStateColor"
          }
        },
        "workItemTypeName": {
          "description": "Work item type name",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WorkItemTypeTemplate": {
      "description": "",
      "type": "object",
      "properties": {
        "template": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeTemplateUpdateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actionType": {
          "enum": [
            "import",
            "validate"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.ProvisioningActionType"
          }
        },
        "methodology": {
          "type": "string"
        },
        "template": {
          "type": "string"
        },
        "templateType": {
          "enum": [
            "workItemType",
            "globalWorkflow"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.TemplateType"
          }
        }
      }
    },
    "WorkItemUpdate": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResourceReference"
        }
      ],
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/WorkItemFieldUpdate"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "relations": {
          "$ref": "#/definitions/WorkItemRelationUpdates"
        },
        "rev": {
          "type": "integer",
          "format": "int32"
        },
        "revisedBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "revisedDate": {
          "type": "string",
          "format": "date-time"
        },
        "workItemId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "POST__wit_attachments_fileName-_textFile_": {
      "parameters": {
        "fileName": "textAsFileAttachment.txt",
        "body": "User text content to upload"
      },
      "responses": {
        "201": {
          "body": {
            "id": "6b2266bf-a155-4582-a475-ca4da68193ef",
            "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/6b2266bf-a155-4582-a475-ca4da68193ef?fileName=textAsFileAttachment.txt"
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments?fileName=textAsFileAttachment.txt&api-version=1.0"
      }
    },
    "POST__wit_attachments_fileName-_binaryFile_": {
      "parameters": {
        "fileName": "imageAsFileAttachment.png",
        "body": {
          "0": 137,
          "1": 80,
          "2": 78,
          "3": 71,
          "4": 13,
          "5": 10,
          "6": 26,
          "7": 10,
          "8": 0,
          "9": 0,
          "10": 0,
          "11": 13,
          "12": 73,
          "13": 72,
          "14": 68,
          "15": 82,
          "16": 0,
          "17": 0,
          "18": 0,
          "19": 24,
          "20": 0,
          "21": 0,
          "22": 0,
          "23": 24,
          "24": 8,
          "25": 2,
          "26": 0,
          "27": 0,
          "28": 0,
          "29": 111,
          "30": 21,
          "31": 170,
          "32": 175,
          "33": 0,
          "34": 0,
          "35": 0,
          "36": 1,
          "37": 115,
          "38": 82,
          "39": 71,
          "40": 66,
          "41": 0,
          "42": 174,
          "43": 206,
          "44": 28,
          "45": 233,
          "46": 0,
          "47": 0,
          "48": 0,
          "49": 4,
          "50": 103,
          "51": 65,
          "52": 77,
          "53": 65,
          "54": 0,
          "55": 0,
          "56": 177,
          "57": 143,
          "58": 11,
          "59": 252,
          "60": 97,
          "61": 5,
          "62": 0,
          "63": 0,
          "64": 0,
          "65": 9,
          "66": 112,
          "67": 72,
          "68": 89,
          "69": 115,
          "70": 0,
          "71": 0,
          "72": 14,
          "73": 195,
          "74": 0,
          "75": 0,
          "76": 14,
          "77": 195,
          "78": 1,
          "79": 199,
          "80": 111,
          "81": 168,
          "82": 100,
          "83": 0,
          "84": 0,
          "85": 0,
          "86": 101,
          "87": 73,
          "88": 68,
          "89": 65,
          "90": 84,
          "91": 56,
          "92": 79,
          "93": 237,
          "94": 204,
          "95": 65,
          "96": 10,
          "97": 192,
          "98": 32,
          "99": 12,
          "100": 68,
          "101": 81,
          "102": 239,
          "103": 127,
          "104": 105,
          "105": 27,
          "106": 240,
          "107": 167,
          "108": 24,
          "109": 146,
          "110": 52,
          "111": 22,
          "112": 138,
          "113": 80,
          "114": 240,
          "115": 237,
          "116": 156,
          "117": 140,
          "118": 211,
          "119": 250,
          "120": 71,
          "121": 206,
          "122": 80,
          "123": 109,
          "124": 227,
          "125": 80,
          "126": 83,
          "127": 188,
          "128": 19,
          "129": 213,
          "130": 217,
          "131": 34,
          "132": 141,
          "133": 164,
          "134": 55,
          "135": 190,
          "136": 70,
          "137": 104,
          "138": 88,
          "139": 73,
          "140": 90,
          "141": 161,
          "142": 55,
          "143": 137,
          "144": 162,
          "145": 53,
          "146": 180,
          "147": 213,
          "148": 198,
          "149": 33,
          "150": 210,
          "151": 60,
          "152": 31,
          "153": 130,
          "154": 33,
          "155": 65,
          "156": 87,
          "157": 249,
          "158": 68,
          "159": 140,
          "160": 230,
          "161": 109,
          "162": 105,
          "163": 200,
          "164": 163,
          "165": 55,
          "166": 249,
          "167": 203,
          "168": 144,
          "169": 224,
          "170": 71,
          "171": 132,
          "172": 134,
          "173": 149,
          "174": 14,
          "175": 9,
          "176": 254,
          "177": 89,
          "178": 220,
          "179": 156,
          "180": 167,
          "181": 161,
          "182": 87,
          "183": 206,
          "184": 80,
          "185": 165,
          "186": 247,
          "187": 11,
          "188": 116,
          "189": 99,
          "190": 71,
          "191": 0,
          "192": 204,
          "193": 122,
          "194": 63,
          "195": 206,
          "196": 0,
          "197": 0,
          "198": 0,
          "199": 0,
          "200": 73,
          "201": 69,
          "202": 78,
          "203": 68,
          "204": 174,
          "205": 66,
          "206": 96,
          "207": 130,
          "208": 0,
          "209": 0,
          "BYTES_PER_ELEMENT": 1,
          "buffer": {
            "0": 137,
            "1": 80,
            "2": 78,
            "3": 71,
            "4": 13,
            "5": 10,
            "6": 26,
            "7": 10,
            "8": 0,
            "9": 0,
            "10": 0,
            "11": 13,
            "12": 73,
            "13": 72,
            "14": 68,
            "15": 82,
            "16": 0,
            "17": 0,
            "18": 0,
            "19": 24,
            "20": 0,
            "21": 0,
            "22": 0,
            "23": 24,
            "24": 8,
            "25": 2,
            "26": 0,
            "27": 0,
            "28": 0,
            "29": 111,
            "30": 21,
            "31": 170,
            "32": 175,
            "33": 0,
            "34": 0,
            "35": 0,
            "36": 1,
            "37": 115,
            "38": 82,
            "39": 71,
            "40": 66,
            "41": 0,
            "42": 174,
            "43": 206,
            "44": 28,
            "45": 233,
            "46": 0,
            "47": 0,
            "48": 0,
            "49": 4,
            "50": 103,
            "51": 65,
            "52": 77,
            "53": 65,
            "54": 0,
            "55": 0,
            "56": 177,
            "57": 143,
            "58": 11,
            "59": 252,
            "60": 97,
            "61": 5,
            "62": 0,
            "63": 0,
            "64": 0,
            "65": 9,
            "66": 112,
            "67": 72,
            "68": 89,
            "69": 115,
            "70": 0,
            "71": 0,
            "72": 14,
            "73": 195,
            "74": 0,
            "75": 0,
            "76": 14,
            "77": 195,
            "78": 1,
            "79": 199,
            "80": 111,
            "81": 168,
            "82": 100,
            "83": 0,
            "84": 0,
            "85": 0,
            "86": 101,
            "87": 73,
            "88": 68,
            "89": 65,
            "90": 84,
            "91": 56,
            "92": 79,
            "93": 237,
            "94": 204,
            "95": 65,
            "96": 10,
            "97": 192,
            "98": 32,
            "99": 12,
            "100": 68,
            "101": 81,
            "102": 239,
            "103": 127,
            "104": 105,
            "105": 27,
            "106": 240,
            "107": 167,
            "108": 24,
            "109": 146,
            "110": 52,
            "111": 22,
            "112": 138,
            "113": 80,
            "114": 240,
            "115": 237,
            "116": 156,
            "117": 140,
            "118": 211,
            "119": 250,
            "120": 71,
            "121": 206,
            "122": 80,
            "123": 109,
            "124": 227,
            "125": 80,
            "126": 83,
            "127": 188,
            "128": 19,
            "129": 213,
            "130": 217,
            "131": 34,
            "132": 141,
            "133": 164,
            "134": 55,
            "135": 190,
            "136": 70,
            "137": 104,
            "138": 88,
            "139": 73,
            "140": 90,
            "141": 161,
            "142": 55,
            "143": 137,
            "144": 162,
            "145": 53,
            "146": 180,
            "147": 213,
            "148": 198,
            "149": 33,
            "150": 210,
            "151": 60,
            "152": 31,
            "153": 130,
            "154": 33,
            "155": 65,
            "156": 87,
            "157": 249,
            "158": 68,
            "159": 140,
            "160": 230,
            "161": 109,
            "162": 105,
            "163": 200,
            "164": 163,
            "165": 55,
            "166": 249,
            "167": 203,
            "168": 144,
            "169": 224,
            "170": 71,
            "171": 132,
            "172": 134,
            "173": 149,
            "174": 14,
            "175": 9,
            "176": 254,
            "177": 89,
            "178": 220,
            "179": 156,
            "180": 167,
            "181": 161,
            "182": 87,
            "183": 206,
            "184": 80,
            "185": 165,
            "186": 247,
            "187": 11,
            "188": 116,
            "189": 99,
            "190": 71,
            "191": 0,
            "192": 204,
            "193": 122,
            "194": 63,
            "195": 206,
            "196": 0,
            "197": 0,
            "198": 0,
            "199": 0,
            "200": 73,
            "201": 69,
            "202": 78,
            "203": 68,
            "204": 174,
            "205": 66,
            "206": 96,
            "207": 130,
            "208": 0,
            "209": 0,
            "byteLength": 210
          },
          "length": 210,
          "byteOffset": 0,
          "byteLength": 210
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "a5cedde4-2dd5-4fcf-befe-fd0977dd3433",
            "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/a5cedde4-2dd5-4fcf-befe-fd0977dd3433?fileName=imageAsFileAttachment.png"
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments?fileName=imageAsFileAttachment.png&api-version=1.0"
      }
    },
    "POST_wit_attachments_fileName_chunked_register": {
      "parameters": {
        "uploadType": "chunked",
        "fileName": "largefile.zip"
      },
      "responses": {
        "201": {
          "body": {
            "id": "de471719-27b2-40ab-ac40-4890f3eb1443",
            "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/de471719-27b2-40ab-ac40-4890f3eb1443?fileName=test.txt"
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments?uploadType=chunked&fileName=largefile.zip&api-version=2.0"
      }
    },
    "POST_wit_attachments_fileName_chunked_content1": {
      "parameters": {
        "uploadType": "chunked",
        "attachmentid": "de471719-27b2-40ab-ac40-4890f3eb1443",
        "body": "{zip content chunk 1}"
      },
      "responses": {
        "201": {
          "body": {
            "id": "de471719-27b2-40ab-ac40-4890f3eb1443",
            "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/de471719-27b2-40ab-ac40-4890f3eb1443"
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/de471719-27b2-40ab-ac40-4890f3eb1443?uploadType=chunked&api-version=2.0"
      }
    },
    "POST_wit_attachments_fileName_chunked_content2": {
      "parameters": {
        "uploadType": "chunked",
        "attachmentid": "de471719-27b2-40ab-ac40-4890f3eb1443",
        "body": "{zip content chunk 2}"
      },
      "responses": {
        "200": {
          "body": {
            "id": "de471719-27b2-40ab-ac40-4890f3eb1443",
            "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/de471719-27b2-40ab-ac40-4890f3eb1443"
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/_apis/wit/attachments/de471719-27b2-40ab-ac40-4890f3eb1443?uploadType=chunked&api-version=2.0"
      }
    },
    "GetWorkItemIcons": {
      "parameters": {},
      "responses": {
        "200": {
          "body": {
            "count": 41,
            "value": [
              {
                "id": "icon_clipboard",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_clipboard?v=2"
              },
              {
                "id": "icon_crown",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_crown?v=2"
              },
              {
                "id": "icon_trophy",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_trophy?v=2"
              },
              {
                "id": "icon_list",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_list?v=2"
              },
              {
                "id": "icon_book",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_book?v=2"
              },
              {
                "id": "icon_sticky_note",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_sticky_note?v=2"
              },
              {
                "id": "icon_insect",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_insect?v=2"
              },
              {
                "id": "icon_traffic_cone",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_traffic_cone?v=2"
              },
              {
                "id": "icon_chat_bubble",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_chat_bubble?v=2"
              },
              {
                "id": "icon_flame",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_flame?v=2"
              },
              {
                "id": "icon_megaphone",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_megaphone?v=2"
              },
              {
                "id": "icon_code_review",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_code_review?v=2"
              },
              {
                "id": "icon_code_response",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_code_response?v=2"
              },
              {
                "id": "icon_review",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_review?v=2"
              },
              {
                "id": "icon_response",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_response?v=2"
              },
              {
                "id": "icon_test_plan",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_test_plan?v=2"
              },
              {
                "id": "icon_test_suite",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_test_suite?v=2"
              },
              {
                "id": "icon_test_case",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_test_case?v=2"
              },
              {
                "id": "icon_test_step",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_test_step?v=2"
              },
              {
                "id": "icon_test_parameter",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_test_parameter?v=2"
              },
              {
                "id": "icon_star",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_star?v=2"
              },
              {
                "id": "icon_ribbon",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_ribbon?v=2"
              },
              {
                "id": "icon_chart",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_chart?v=2"
              },
              {
                "id": "icon_headphone",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_headphone?v=2"
              },
              {
                "id": "icon_key",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_key?v=2"
              },
              {
                "id": "icon_airplane",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_airplane?v=2"
              },
              {
                "id": "icon_car",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_car?v=2"
              },
              {
                "id": "icon_diamond",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_diamond?v=2"
              },
              {
                "id": "icon_asterisk",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_asterisk?v=2"
              },
              {
                "id": "icon_database_storage",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_database_storage?v=2"
              },
              {
                "id": "icon_government",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_government?v=2"
              },
              {
                "id": "icon_gavel",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_gavel?v=2"
              },
              {
                "id": "icon_parachute",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_parachute?v=2"
              },
              {
                "id": "icon_paint_brush",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_paint_brush?v=2"
              },
              {
                "id": "icon_palette",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_palette?v=2"
              },
              {
                "id": "icon_gear",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_gear?v=2"
              },
              {
                "id": "icon_check_box",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_check_box?v=2"
              },
              {
                "id": "icon_gift",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_gift?v=2"
              },
              {
                "id": "icon_test_beaker",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_test_beaker?v=2"
              },
              {
                "id": "icon_broken_lightbulb",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_broken_lightbulb?v=2"
              },
              {
                "id": "icon_clipboard_issue",
                "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons/icon_clipboard_issue?v=2"
              }
            ]
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/_apis/wit/workItemIcons"
      }
    },
    "GET__wit_queries__depth-1": {
      "parameters": {
        "$depth": "1",
        "project": "Fabrikam-Fiber-Git"
      },
      "responses": {
        "200": {
          "body": {
            "count": 2,
            "value": [
              {
                "id": "3c65fbc1-d427-48ce-9091-633dde9e27e2",
                "name": "My Queries",
                "path": "My Queries",
                "createdBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "createdDate": "2014-03-18T17:18:36.06Z",
                "lastModifiedBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "lastModifiedDate": "2014-03-18T17:18:36.06Z",
                "isFolder": true,
                "hasChildren": true,
                "children": [
                  {
                    "id": "c85c2f70-178e-472a-8987-c2b5c95ee03e",
                    "name": "New Query 1",
                    "path": "My Queries/New Query 1",
                    "createdBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "createdDate": "2015-05-26T23:45:34.75Z",
                    "lastModifiedBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "lastModifiedDate": "2015-05-26T23:48:08.983Z",
                    "isPublic": false,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/c85c2f70-178e-472a-8987-c2b5c95ee03e"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=c85c2f70-178e-472a-8987-c2b5c95ee03e"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                      },
                      "wiql": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/c85c2f70-178e-472a-8987-c2b5c95ee03e"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/c85c2f70-178e-472a-8987-c2b5c95ee03e"
                  }
                ],
                "isPublic": false,
                "_links": {
                  "self": {
                    "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                  },
                  "html": {
                    "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=3c65fbc1-d427-48ce-9091-633dde9e27e2"
                  }
                },
                "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
              },
              {
                "id": "eb5c1e25-9b3e-4416-a833-e500122882c7",
                "name": "Shared Queries",
                "path": "Shared Queries",
                "createdDate": "2014-01-24T19:19:12.33Z",
                "lastModifiedBy": {
                  "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                  "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                },
                "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                "isFolder": true,
                "hasChildren": true,
                "children": [
                  {
                    "id": "139a3503-6ac6-4fa0-9a91-f76f180e7b65",
                    "name": "Current Sprint",
                    "path": "Shared Queries/Current Sprint",
                    "createdDate": "2014-01-24T19:19:12.79Z",
                    "lastModifiedBy": {
                      "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                      "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                    "isFolder": true,
                    "hasChildren": true,
                    "isPublic": true,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/139a3503-6ac6-4fa0-9a91-f76f180e7b65"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=139a3503-6ac6-4fa0-9a91-f76f180e7b65"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/139a3503-6ac6-4fa0-9a91-f76f180e7b65"
                  },
                  {
                    "id": "7662ea76-d42d-43db-abb0-19e6f1d0be9b",
                    "name": "Feedback",
                    "path": "Shared Queries/Feedback",
                    "createdDate": "2014-01-24T19:19:12.79Z",
                    "lastModifiedBy": {
                      "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                      "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                    "isPublic": true,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                      },
                      "wiql": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                  }
                ],
                "isPublic": true,
                "_links": {
                  "self": {
                    "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                  },
                  "html": {
                    "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=eb5c1e25-9b3e-4416-a833-e500122882c7"
                  }
                },
                "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
              }
            ]
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/Fabrikam-Fiber-Git/_apis/wit/queries?$depth=1&api-version=2.2"
      }
    },
    "GET__wit_queries": {
      "parameters": {
        "project": "Fabrikam-Fiber-Git"
      },
      "responses": {
        "200": {
          "body": {
            "count": 2,
            "value": [
              {
                "id": "3c65fbc1-d427-48ce-9091-633dde9e27e2",
                "name": "My Queries",
                "path": "My Queries",
                "createdBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "createdDate": "2014-03-18T17:18:36.06Z",
                "lastModifiedBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "lastModifiedDate": "2014-03-18T17:18:36.06Z",
                "isFolder": true,
                "hasChildren": true,
                "isPublic": false,
                "_links": {
                  "self": {
                    "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                  },
                  "html": {
                    "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=3c65fbc1-d427-48ce-9091-633dde9e27e2"
                  }
                },
                "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
              },
              {
                "id": "eb5c1e25-9b3e-4416-a833-e500122882c7",
                "name": "Shared Queries",
                "path": "Shared Queries",
                "createdDate": "2014-01-24T19:19:12.33Z",
                "lastModifiedBy": {
                  "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                  "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                },
                "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                "isFolder": true,
                "hasChildren": true,
                "isPublic": true,
                "_links": {
                  "self": {
                    "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                  },
                  "html": {
                    "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=eb5c1e25-9b3e-4416-a833-e500122882c7"
                  }
                },
                "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
              }
            ]
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/Fabrikam-Fiber-Git/_apis/wit/queries?api-version=2.2"
      }
    },
    "GET__wit_queries__depth-1__expand-all": {
      "parameters": {
        "$depth": "1",
        "$expand": "all",
        "project": "Fabrikam-Fiber-Git"
      },
      "responses": {
        "200": {
          "body": {
            "count": 2,
            "value": [
              {
                "id": "3c65fbc1-d427-48ce-9091-633dde9e27e2",
                "name": "My Queries",
                "path": "My Queries",
                "createdBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "createdDate": "2014-03-18T17:18:36.06Z",
                "lastModifiedBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "lastModifiedDate": "2014-03-18T17:18:36.06Z",
                "isFolder": true,
                "hasChildren": true,
                "children": [
                  {
                    "id": "c85c2f70-178e-472a-8987-c2b5c95ee03e",
                    "name": "New Query 1",
                    "path": "My Queries/New Query 1",
                    "createdBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "createdDate": "2015-05-26T23:45:34.75Z",
                    "lastModifiedBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "lastModifiedDate": "2015-05-26T23:48:08.983Z",
                    "queryType": "flat",
                    "columns": [
                      {
                        "referenceName": "System.Id",
                        "name": "ID",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.Id"
                      },
                      {
                        "referenceName": "System.WorkItemType",
                        "name": "Work Item Type",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.WorkItemType"
                      },
                      {
                        "referenceName": "System.Title",
                        "name": "Title",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.Title"
                      },
                      {
                        "referenceName": "System.AssignedTo",
                        "name": "Assigned To",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.AssignedTo"
                      },
                      {
                        "referenceName": "System.State",
                        "name": "State",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.State"
                      },
                      {
                        "referenceName": "System.Tags",
                        "name": "Tags",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.Tags"
                      },
                      {
                        "referenceName": "System.IterationPath",
                        "name": "Iteration Path",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.IterationPath"
                      },
                      {
                        "referenceName": "Microsoft.VSTS.Common.Priority",
                        "name": "Priority",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/Microsoft.VSTS.Common.Priority"
                      }
                    ],
                    "wiql": "select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo], [System.State], [System.Tags], [System.IterationPath], [Microsoft.VSTS.Common.Priority] from WorkItems where [System.TeamProject] = @project and [System.WorkItemType] = 'Product Backlog Item' and [System.State] <> 'Removed'",
                    "isPublic": false,
                    "clauses": {
                      "logicalOperator": "and",
                      "clauses": [
                        {
                          "field": {
                            "referenceName": "System.TeamProject",
                            "name": "Team Project",
                            "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.TeamProject"
                          },
                          "operator": {
                            "referenceName": "SupportedOperations.Equals",
                            "name": "="
                          },
                          "value": "@project"
                        },
                        {
                          "field": {
                            "referenceName": "System.WorkItemType",
                            "name": "Work Item Type",
                            "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.WorkItemType"
                          },
                          "operator": {
                            "referenceName": "SupportedOperations.Equals",
                            "name": "="
                          },
                          "value": "Product Backlog Item"
                        },
                        {
                          "field": {
                            "referenceName": "System.State",
                            "name": "State",
                            "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.State"
                          },
                          "operator": {
                            "referenceName": "SupportedOperations.NotEquals",
                            "name": "<>"
                          },
                          "value": "Removed"
                        }
                      ]
                    },
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/c85c2f70-178e-472a-8987-c2b5c95ee03e"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=c85c2f70-178e-472a-8987-c2b5c95ee03e"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                      },
                      "wiql": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/c85c2f70-178e-472a-8987-c2b5c95ee03e"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/c85c2f70-178e-472a-8987-c2b5c95ee03e"
                  }
                ],
                "isPublic": false,
                "_links": {
                  "self": {
                    "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                  },
                  "html": {
                    "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=3c65fbc1-d427-48ce-9091-633dde9e27e2"
                  }
                },
                "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
              },
              {
                "id": "eb5c1e25-9b3e-4416-a833-e500122882c7",
                "name": "Shared Queries",
                "path": "Shared Queries",
                "createdDate": "2014-01-24T19:19:12.33Z",
                "lastModifiedBy": {
                  "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                  "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                },
                "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                "isFolder": true,
                "hasChildren": true,
                "children": [
                  {
                    "id": "139a3503-6ac6-4fa0-9a91-f76f180e7b65",
                    "name": "Current Sprint",
                    "path": "Shared Queries/Current Sprint",
                    "createdDate": "2014-01-24T19:19:12.79Z",
                    "lastModifiedBy": {
                      "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                      "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                    "isFolder": true,
                    "hasChildren": true,
                    "isPublic": true,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/139a3503-6ac6-4fa0-9a91-f76f180e7b65"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=139a3503-6ac6-4fa0-9a91-f76f180e7b65"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/139a3503-6ac6-4fa0-9a91-f76f180e7b65"
                  },
                  {
                    "id": "7662ea76-d42d-43db-abb0-19e6f1d0be9b",
                    "name": "Feedback",
                    "path": "Shared Queries/Feedback",
                    "createdDate": "2014-01-24T19:19:12.79Z",
                    "lastModifiedBy": {
                      "id": "8c8c7d32-6b1b-47f4-b2e9-30b477b5ab3d",
                      "displayName": "Chuck Reinhart <fabrikamfiber3@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-01-24T19:19:12.79Z",
                    "queryType": "flat",
                    "columns": [
                      {
                        "referenceName": "System.Id",
                        "name": "ID",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.Id"
                      },
                      {
                        "referenceName": "System.Title",
                        "name": "Title",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.Title"
                      },
                      {
                        "referenceName": "System.State",
                        "name": "State",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.State"
                      },
                      {
                        "referenceName": "System.CreatedBy",
                        "name": "Created By",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.CreatedBy"
                      },
                      {
                        "referenceName": "Microsoft.VSTS.Common.Rating",
                        "name": "Rating",
                        "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/Microsoft.VSTS.Common.Rating"
                      }
                    ],
                    "sortColumns": [
                      {
                        "field": {
                          "referenceName": "System.Id",
                          "name": "ID",
                          "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.Id"
                        },
                        "descending": false
                      }
                    ],
                    "wiql": "select [System.Id], [System.Title], [System.State], [System.CreatedBy], [Microsoft.VSTS.Common.Rating] from WorkItems where [System.TeamProject] = @project and [System.WorkItemType] in group 'Microsoft.FeedbackResponseCategory' and [System.State] = 'Active' order by [System.Id]",
                    "isPublic": true,
                    "clauses": {
                      "logicalOperator": "and",
                      "clauses": [
                        {
                          "field": {
                            "referenceName": "System.TeamProject",
                            "name": "Team Project",
                            "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.TeamProject"
                          },
                          "operator": {
                            "referenceName": "SupportedOperations.Equals",
                            "name": "="
                          },
                          "value": "@project"
                        },
                        {
                          "field": {
                            "referenceName": "System.WorkItemType",
                            "name": "Work Item Type",
                            "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.WorkItemType"
                          },
                          "operator": {
                            "referenceName": "SupportedOperations.InGroup",
                            "name": "In Group"
                          },
                          "value": "Microsoft.FeedbackResponseCategory"
                        },
                        {
                          "field": {
                            "referenceName": "System.State",
                            "name": "State",
                            "url": "https://fabrikam.visualstudio.com/_apis/wit/fields/System.State"
                          },
                          "operator": {
                            "referenceName": "SupportedOperations.Equals",
                            "name": "="
                          },
                          "value": "Active"
                        }
                      ]
                    },
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                      },
                      "wiql": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/7662ea76-d42d-43db-abb0-19e6f1d0be9b"
                  }
                ],
                "isPublic": true,
                "_links": {
                  "self": {
                    "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
                  },
                  "html": {
                    "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=eb5c1e25-9b3e-4416-a833-e500122882c7"
                  }
                },
                "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/eb5c1e25-9b3e-4416-a833-e500122882c7"
              }
            ]
          }
        }
      },
      "x-ms-vss-migrated": true,
      "x-ms-vss-example-request": {
        "url": "https://fabrikam.visualstudio.com/Fabrikam-Fiber-Git/_apis/wit/queries?$depth=1&$expand=all&api-version=2.2"
      }
    },
    "GET__wit_queries__depth-2__includeDeleted-true": {
      "parameters": {
        "$depth": "2",
        "$includeDeleted": "true",
        "project": "Fabrikam-Fiber-Git"
      },
      "responses": {
        "200": {
          "body": {
            "count": 2,
            "value": [
              {
                "id": "3c65fbc1-d427-48ce-9091-633dde9e27e2",
                "name": "My Queries",
                "path": "My Queries",
                "createdBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "createdDate": "2014-03-18T17:18:36.06Z",
                "lastModifiedBy": {
                  "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                  "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                },
                "lastModifiedDate": "2014-03-18T17:18:36.06Z",
                "isFolder": true,
                "hasChildren": true,
                "children": [
                  {
                    "id": "4da0b91e-a751-44ed-85e8-f57cd8564957",
                    "name": "Website",
                    "path": "My Queries/Website",
                    "createdBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "createdDate": "2014-11-11T00:14:39.513Z",
                    "lastModifiedBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-11-11T00:14:46.893Z",
                    "isFolder": true,
                    "hasChildren": true,
                    "children": [
                      {
                        "id": "314ddfda-34bc-41c9-9acf-71ebfc8b8d9a",
                        "name": "Active Bugs",
                        "path": "My Queries/Website/Active Bugs",
                        "createdBy": {
                          "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                          "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                        },
                        "createdDate": "2014-11-11T00:14:39.977Z",
                        "lastModifiedBy": {
                          "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                          "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                        },
                        "lastModifiedDate": "2014-11-11T00:14:46.893Z",
                        "isDeleted": true,
                        "isPublic": false,
                        "_links": {
                          "self": {
                            "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/314ddfda-34bc-41c9-9acf-71ebfc8b8d9a"
                          },
                          "html": {
                            "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=314ddfda-34bc-41c9-9acf-71ebfc8b8d9a"
                          },
                          "parent": {
                            "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/4da0b91e-a751-44ed-85e8-f57cd8564957"
                          },
                          "wiql": {
                            "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/314ddfda-34bc-41c9-9acf-71ebfc8b8d9a"
                          }
                        },
                        "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/314ddfda-34bc-41c9-9acf-71ebfc8b8d9a"
                      }
                    ],
                    "isDeleted": true,
                    "isPublic": false,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/4da0b91e-a751-44ed-85e8-f57cd8564957"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=4da0b91e-a751-44ed-85e8-f57cd8564957"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/4da0b91e-a751-44ed-85e8-f57cd8564957"
                  },
                  {
                    "id": "e47e5930-e93d-4cc0-b049-f2dfb645fd07",
                    "name": "Website",
                    "path": "My Queries/Website",
                    "createdBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "createdDate": "2014-10-28T00:55:03.293Z",
                    "lastModifiedBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-10-28T00:55:13.01Z",
                    "isFolder": true,
                    "hasChildren": true,
                    "children": [
                      {
                        "id": "d6eda571-e862-425a-baf0-506730513ce3",
                        "name": "Active Bugs",
                        "path": "My Queries/Website/Active Bugs",
                        "createdBy": {
                          "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                          "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                        },
                        "createdDate": "2014-10-28T00:55:03.65Z",
                        "lastModifiedBy": {
                          "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                          "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                        },
                        "lastModifiedDate": "2014-10-28T00:55:13.01Z",
                        "isDeleted": true,
                        "isPublic": false,
                        "_links": {
                          "self": {
                            "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/d6eda571-e862-425a-baf0-506730513ce3"
                          },
                          "html": {
                            "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=d6eda571-e862-425a-baf0-506730513ce3"
                          },
                          "parent": {
                            "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/e47e5930-e93d-4cc0-b049-f2dfb645fd07"
                          },
                          "wiql": {
                            "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/d6eda571-e862-425a-baf0-506730513ce3"
                          }
                        },
                        "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/d6eda571-e862-425a-baf0-506730513ce3"
                      }
                    ],
                    "isDeleted": true,
                    "isPublic": false,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/e47e5930-e93d-4cc0-b049-f2dfb645fd07"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=e47e5930-e93d-4cc0-b049-f2dfb645fd07"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/e47e5930-e93d-4cc0-b049-f2dfb645fd07"
                  },
                  {
                    "id": "49a97016-3d6a-4c86-9858-efefacf6fbe9",
                    "name": "All Work",
                    "path": "My Queries/All Work",
                    "createdBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "createdDate": "2014-11-04T18:23:39.793Z",
                    "lastModifiedBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-11-04T18:23:52.583Z",
                    "isDeleted": true,
                    "isPublic": false,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/49a97016-3d6a-4c86-9858-efefacf6fbe9"
                      },
                      "html": {
                        "href": "https://fabrikam.visualstudio.com/web/qr.aspx?pguid=6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c&qid=49a97016-3d6a-4c86-9858-efefacf6fbe9"
                      },
                      "parent": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/3c65fbc1-d427-48ce-9091-633dde9e27e2"
                      },
                      "wiql": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/wiql/49a97016-3d6a-4c86-9858-efefacf6fbe9"
                      }
                    },
                    "url": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/49a97016-3d6a-4c86-9858-efefacf6fbe9"
                  },
                  {
                    "id": "4bac6574-3852-4c7b-a273-ef9409c7b384",
                    "name": "Onehop",
                    "path": "My Queries/Onehop",
                    "createdBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "createdDate": "2014-08-29T17:39:24.37Z",
                    "lastModifiedBy": {
                      "id": "d291b0c4-a05c-4ea6-8df1-4b41d5f39eff",
                      "displayName": "Jamal Hartnett <fabrikamfiber4@hotmail.com>"
                    },
                    "lastModifiedDate": "2014-08-29T17:44:24.01Z",
                    "isDeleted": true,
                    "isPublic": false,
                    "_links": {
                      "self": {
                        "href": "https://fabrikam.visualstudio.com/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c/_apis/wit/queries/4bac6574-3852-4c7b-a273-ef9409c7b384"
                      },
                      "html": {
[...]
